<div class="background-container parbase"> 
    <div class="custom-bgcolor  " style="background-color:transparent;padding-top:0px;padding-bottom:100px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="text-extended-auth-unauth section"> 
       <div class="u-authenticated"> 
        <h4 style="text-align: center;">WE OFFER A LOT</h4> 
        <h2 style="text-align: center;">Explore More</h2> 
       </div> 
       <!-- <div class="u-unauthenticated"> 
        <h4 style="text-align: center;">WE OFFER A LOT</h4> 
        <h2 style="text-align: center;">Explore More</h2> 
       </div>  -->
      </div> 
      <div class="bootstrapcolCtrlAdvanced section"> 
       <div class="col-row    " id="column-1603"> 
        <div class=" col-lg- col-md-3 col-sm-6 col-xs-12 col-12 no-margin"> 
         <div class="columns1 parsys"> 
          <div class="textimage-auth-unauth textimage parbase section"> 
           <div> 
            <!--Authenticated --> 
            <!-- <div class="u-authenticated ID-2398--auth image-banner-overlay"> 
             <div class="row no-gutters flex-column-reverse"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/content/innovators-food/en/home/what-we-do/meet-the-team.html"> <img class="card__image image-width-full" alt="meet the team" src="/content/dam/food-innovators/meetTheTeam/meet-the-team.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab " > 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/content/innovators-food/en/home/what-we-do/meet-the-team.html" target="_self">MEET THE TEAM</a> 
                 <span class="card__description"></span> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div>  -->
            <!--Un Authenticated --> 
            <div class="u-unauthenticated ID-2460--unauth image-banner-overlay"> 
             <div class="row no-gutters flex-column-reverse"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/meetTheTeam"> <img class="card__image image-width-full" alt="meet the team" src="../../../assets/images/meet-the-team.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab " > 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/meetTheTeam" target="_self" >MEET THE TEAM</a> 
                 <span class="card__description"></span> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class=" col-lg- col-md-3 col-sm-6 col-xs-12 col-12 no-margin"> 
         <div class="columns2 parsys"> 
          <div class="textimage-auth-unauth textimage parbase section"> 
           <div> 
            <!--Authenticated --> 
            <!-- <div class="u-authenticated ID-2398--auth image-banner-overlay"> 
             <div class="row no-gutters flex-column-reverse"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/content/innovators-food/en/home/what-we-do/kitchen-inspiration-sessions.html"> <img class="card__image image-width-full" alt="food innovators process" src="/content/dam/food-innovators/kitchenInspirationSessions/footer-tile-inspiration.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab " style=" background-color: #"> 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/content/innovators-food/en/home/what-we-do/kitchen-inspiration-sessions.html" target="_self" style="color: #">KITCHEN INSPIRATION SESSIONS</a> 
                 <span class="card__description"></span> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div>  -->
            <!--Un Authenticated --> 
            <div class="u-unauthenticated ID-2460--unauth image-banner-overlay"> 
             <div class="row no-gutters flex-column-reverse"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/whatWeDo"> <img class="card__image image-width-full" alt="food innovators process" src="../../../assets/images/footer-tile-inspiration.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab " > 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/whatWeDo" target="_self">KITCHEN INSPIRATION SESSIONS</a> 
                 <span class="card__description"></span> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class=" col-lg- col-md-3 col-sm-6 col-xs-12 col-12 no-margin"> 
         <div class="columns3 parsys"> 
          <div class="textimage-auth-unauth textimage parbase section"> 
           <div> 
            <!--Authenticated --> 
            <!-- <div class="u-authenticated ID-2398--auth image-banner-overlay"> 
             <div class="row no-gutters flex-column-reverse"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/content/innovators-food/en/home/what-we-do.html"> <img class="card__image image-width-full" alt="what we do" src="/content/dam/food-innovators/whatWeDo/explore-more-tiles-do.jpg"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab " style=" background-color: #"> 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/content/innovators-food/en/home/what-we-do.html" target="_self" style="color: #">WHAT WE DO</a> 
                 <span class="card__description"></span> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div>  -->
            <!--Un Authenticated --> 
            <div class="u-unauthenticated ID-2460--unauth image-banner-overlay"> 
             <div class="row no-gutters flex-column-reverse"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/whatWeDo"> <img class="card__image image-width-full" alt="what we do" src="../../../assets/images/explore-more-tiles-do.jpg"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab " > 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/whatWeDo" target="_self" >WHAT WE DO</a> 
                 <span class="card__description"></span> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class=" col-lg- col-md-3 col-sm-6 col-xs-12 col-12 no-margin"> 
         <div class="columns4 parsys"> 
          <div class="textimage-auth-unauth textimage parbase section"> 
           <div> 
            <!--Authenticated --> 
            <!-- <div class="u-authenticated ID-2398--auth image-banner-overlay"> 
             <div class="row no-gutters flex-column-reverse"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/content/innovators-food/en/home/blog.html"> <img class="card__image image-width-full" alt="Top Trends" src="/content/dam/food-innovators/blogimages/footer-tile-fresh.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab " style=" background-color: #"> 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/content/innovators-food/en/home/blog.html" target="_self" style="color: #">TOP TRENDS</a> 
                 <span class="card__description"></span> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div>  -->
            <!--Un Authenticated --> 
            <div class="u-unauthenticated ID-2460--unauth image-banner-overlay"> 
             <div class="row no-gutters flex-column-reverse"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/cookingSchool"> <img class="card__image image-width-full" alt="COOKING SCHOOL" src="../../../assets/images/cookingworkshop.jpg"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab " > 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/cookingSchool" target="_self" >COOKING SCHOOL</a> 
                 <span class="card__description"></span> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div style="clear:both"></div> 
      </div> 
     </div> 
    </div> 
   </div>