




    <div class="background-container parbase"> 
        <div class="custom-bgcolor xxsmall-container " style="background-color:transparent;padding-top:100px;padding-bottom:--px;padding-left:--px;padding-right:--px;"> 
         <div class="par parsys"> 
          <div class="bread-crumb section"> 
           <div class="breadcrumbs"> 
            <a class="breadcrumbs__node" href="/foodInnovators">Food Innovators | Home&nbsp;</a> 
            <svg class="breadcrumbs__chevron"> 
                <use xlink:href="../../../assets/images/icons-sprite.svg#arrow-right"></use> 
                <!-- <img class="breadcrumbs__chevron" src="../../../assets/images/icons-sprite.png"> -->
                
   
               </svg> 
            <strong class="breadcrumb__page">&nbsp;What we do</strong> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div>



    <app-what-we-do-video></app-what-we-do-video>
    <app-what-we-do-cards></app-what-we-do-cards>
    


