<div class="heroBanner-auth-unauth"> 
    <!--Authenticated --> 
    <div class="u-authenticated"> 
     <div class="top-hero__landing-gradient"> 
      <div class="top-hero top-hero--bg-lower" style="background-image: url('../../../assets/images/Recipes\ Hero.png');"> 
       <div class="top-hero__wrapper"> 
        <div class="top-hero__mobile-image"> 
         <!-- <img class="top-hero__mobile-image__img" src="/content/dam/food-innovators/foodImages/Recipes Hero.png"> --> 
        </div> 
        <div class="top-hero__wrapper__inner"> 
         <div class="row"> 
          <div class="col-md-12"> 
           <h3 class="u-h3 u-text-primary">RECIPE OF THE DAY</h3> 
           <h1 class="u-h1 u-text-primary">{{recipeOfTheDay.Head}}</h1> 
          </div> 
         </div> 
         <div class="row"> 
          <div class="col-md-5 u-desktop-only"> 
           <div class="top-hero__blurb u-subheading"> 
            <p>{{recipeOfTheDay.subHead}}&nbsp;</p> 
           </div> 
          </div> 
          <div class="top-hero__blurb__container u-mobile-only"> 
           <div class="top-hero__blurb u-subheading"> 
            <p>{{recipeOfTheDay.subHead}}&nbsp;</p> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
    <!--Un Authenticated --> 
    <div class="u-unauthenticated"> 
        <div class="top-hero__landing-gradient"> 
            <div class="top-hero top-hero--bg-lower" style="background-image: url('../../../assets/images/Recipes\ Hero.png');"> 
             <div class="top-hero__wrapper"> 
              <div class="top-hero__mobile-image"> 
               <!-- <img class="top-hero__mobile-image__img" src="/content/dam/food-innovators/foodImages/Recipes Hero.png"> --> 
              </div> 
              <div class="top-hero__wrapper__inner"> 
               <div class="row"> 
                <div class="col-md-12"> 
                 <h3 class="u-h3 u-text-primary">RECIPE OF THE DAY</h3> 
                 <h1 class="u-h1 u-text-primary">{{recipeOfTheDay.Head}}</h1> 
                </div> 
               </div> 
               <div class="row"> 
                <div class="col-md-5 u-desktop-only"> 
                 <div class="top-hero__blurb u-subheading"> 
                  <p>{{recipeOfTheDay.subHead}}&nbsp;</p> 
                 </div> 
                </div> 
                <div class="top-hero__blurb__container u-mobile-only"> 
                 <div class="top-hero__blurb u-subheading"> 
                  <p>{{recipeOfTheDay.subHead}}&nbsp;</p> 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div>
    </div> 
   </div>