



    <!-- top navigation html -->

    <div class="background-container parbase"> 
        <div class="custom-bgcolor xxsmall-container " style="background-color:transparent;padding-top:100px;padding-bottom:--px;padding-left:--px;padding-right:--px;"> 
         <div class="par parsys"> 
          <div class="bread-crumb section"> 
           <div class="breadcrumbs"> 
            <a class="breadcrumbs__node" href="/cookingSchool">Cooking School&nbsp;</a> 
            <svg class="breadcrumbs__chevron"> 
                <use xlink:href="../../../assets/images/icons-sprite.svg#arrow-right"></use> 
                <!-- <img class="breadcrumbs__chevron" src="../../../assets/images/icons-sprite.png"> -->
                
   
               </svg> 
            <strong class="breadcrumb__page">&nbsp;Team Building</strong> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div>
     <!-- top navigation html -->
     
     
     
     <div class="background-container parbase"> 
    <div class="custom-bgcolor xsmall-container image-banner-overlay  " style="background-image: url(/content/dam/food-innovators/yellow-xxtall-bg.png);background-size:100%;background-color:transparent;padding-top:100px;padding-bottom:0px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="text-extended-auth-unauth section"> 
       <div class="u-authenticated"> 
        <h3 style="text-align: center;">&nbsp;</h3> 
        <h3 style="text-align: center;">COOKING SCHOOL</h3> 
        <h1 style="text-align: center;">Team Building Sessions</h1> 
        <h1>&nbsp;</h1> 
       </div> 
       <div class="u-unauthenticated"> 
        <h3 style="text-align: center;">&nbsp;</h3> 
        <h3 style="text-align: center;">COOKING SCHOOL</h3> 
        <h1 style="text-align: center;">Team Building Sessions</h1> 
        <h1>&nbsp;</h1> 
       </div> 
      </div> 
      <div class="background-container parbase section"> 
       <div class="custom-bgcolor  " style="background-color:section;padding-top:50px;padding-bottom:100px;padding-left:--px;padding-right:--px;"> 
        <div class="par parsys"> 
         <div class="bootstrapcolCtrlAdvanced section"> 
          <div class="row   item-middle content-middle" id="column-1150"> 
           <div class=" col-lg- col-md-7 col-sm-7 col-xs-12 col-12 no-margin"> 
            <div class="columns1 parsys"> 
             <div class="iframe section"> 
              <style>
    .iframe-container{ height: 450px;width:100% }
@media screen and (max-width: 479px){
.iframe-component {
    transform:none;
    -webkit-transform:none;
    }

    }
@media screen and (max-width: 768px){
.iframe-component {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
}
</style> 
              <div class="inner-container iframe-loadercontainer"> 
               <div class="wow-loader-container"> 
                <div class="wow-loader"></div> 
               </div> 
               <iframe id="iframe-1431" class="iframe-component iframe-container" src="https://www.youtube.com/embed/SJgZPsC7470" frameborder="0" scrolling="yes"></iframe> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div class=" col-lg- col-md-5 col-sm-5 col-xs-12 col-12 no-margin"> 
            <div class="columns2 parsys"> 
             <div class="text-extended parbase section"> 
              <div class="xsmall-container h_100" style="padding-top: 50px; padding-bottom: 50px; height: 350px;"> 
               <h2>&nbsp;</h2> 
               <h2>VIDEO</h2> 
               <h2>A Sneak Peak Into Our Team Building Session</h2> 
               <p><a href="https://www.instagram.com/innovatorsfood/">See More on Instagram</a></p> 
               <p><a adhocenable="false" href="https://www.youtube.com/channel/UCBDNKcN9E3rV5KoC0_yEEXQ" target="_blank">See More on Youtube</a></p> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div style="clear:both"></div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="textImage section"> 
       <!--Authenticated --> 
       <div class="u-authenticated"> 
        <div class="ID-1248 "> 
         <div class="row  flex-row mob-flex-column-reverse"> 
          <div class="col-12 col-xs-12 col-sm-8 col-md-8"> 
           <div class="text-center small-container black-link h_100 " style=" background-color: #ffffff"> 
            <h2>&nbsp;</h2> 
            <h2>Join Us</h2> 
            <h4>Book our state of the art cooking school&nbsp; &amp; food theatre for a high energy, educational &amp; totally uplifting team building challenge! Team building sessions are designed &amp; tailored to your specific needs &amp; outcomes and we have a number of options from like mystery box challenges to food innovation sprints or “The Amazing Food Race”. Chat to our team today to start the conversation on Sydney’s most inspiring team building sessions!</h4> 
            <style>
                  .ID-1248 .btn.color-transp{
                  color: white;
                  }
                  .ID-1248 .btn.color-transp:hover {
                  color: white;
                  }
               </style> 
            <a target="_self" href="mailto:foodinnovators@woolworths.com.au/?subject=Team%20Building%20Session%20Booking" class="btn btn-lg btn-white color-transp">Book a Team Building Session</a> 
           </div> 
          </div> 
          <div class="col-12 col-xs-12 col-sm-4 col-md-4"> 
           <a href="mailto:foodinnovators@woolworths.com.au/?subject=Team%20Building%20Session%20Booking" target="_self"> <img class="card__image img-fluid img-responsive h_100" alt="ginger" src="../../../assets/images/ginger2.jpeg"> </a> 
          </div> 
         </div> 
        </div> 
       </div> 
       <!--Un Authenticated --> 
       <div class="u-unauthenticated"> 
        <div class="ID-1286 "> 
         <div class="row  flex-row mob-flex-column-reverse"> 
          <div class="col-12 col-xs-12 col-sm-8 col-md-8"> 
           <div class="text-center small-container black-link h_100 " style=" background-color: #ffffff"> 
            <h4>&nbsp;</h4> 
            <h2>Join Us</h2> 
            <h4>Book our state of the art cooking school&nbsp; &amp; food theatre for a high energy, educational &amp; totally uplifting team building challenge! Team building sessions are designed &amp; tailored to your specific needs &amp; outcomes and we have a number of options from like mystery box challenges to food innovation sprints or “The Amazing Food Race”. Chat to our team today to start the conversation on Sydney’s most inspiring team building sessions!</h4> 
            <style>
                  .ID-1286 .btn.color-transp{
                  color: white;
                  }
                  .ID-1286 .btn.color-transp:hover {
                  color: white;
                  }
               </style> 
            <a target="_self" href="mailto:foodinnovators@woolworths.com.au/?subject=Team%20Building%20Session%20Booking" class="btn btn-lg btn-white color-transp">Book a Team Building Session</a> 
           </div> 
          </div> 
          <div class="col-12 col-xs-12 col-sm-4 col-md-4"> 
           <img class="card__image img-fluid img-responsive h_100" src="../../../assets/images/ginger2.jpeg"> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>