




.is-unauthenticated .u-unauthenticated {
    display: block !important;
}
.u-unauthenticated {
    display: none;
}

.xsmall-container {
    padding: 10px 10%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.image-banner-overlay {
    position: relative;
}



.text-center {
    text-align: center;
}
.h_100 {
    height: 100%;
}
.small-container {
    padding: 20px 20%;
}

.h_100 {
    height: 100%;
}

.img-fluid, .cq-dd-image {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.btn.btn-white {
    color: black;
    background-color: white;
    background-image: none;
    border: 0;
    border-radius: 0;
    padding: 16px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}


.btn.btn-white {
    color: black;
    background-color: white;
    background-image: none;
    border: 0;
    border-radius: 0;
    padding: 16px;
}
.black-link a {
    color: #000 !important;
}
a {
    color: #050505;
    font-family: Montserrat-Medium;
    text-decoration: none;
    cursor: pointer;
}
.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before{display:table;content:" "}
.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after{clear:both}
.center-block{display:block;margin-right:auto;margin-left:auto}




* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
