

   
   
a {color:#050505 !important;font-family:Montserrat-Medium !important;text-decoration:none;cursor:pointer}
a:hover,a:focus{color:#050505;font-family:Montserrat-SemiBold !important;text-decoration:none}
