

<div class="background-container parbase"> 
    <div class="custom-bgcolor xsmall-container " style="background-color:--;padding-top:--px;padding-bottom:--px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="background-container parbase section"> 
       <div class="custom-bgcolor alert alert-success " style="background-color:--;padding-top:--px;padding-bottom:--px;padding-left:--px;padding-right:--px;"> 
        <div class="par parsys"> 
         <div class="text-extended parbase section"> 
          <h4 style="text-align: center;">&nbsp;</h4> 
          <h4 style="text-align: center;"><span style="font-weight: normal;"><b>Welcome to our new Food Innovators portal</b></span></h4> 
          <p style="text-align: center;">Woolworths Employees to <b>Book a Kitchen</b> please first login clicking the <b>Login icon</b> above.&nbsp;&nbsp;</p> 
          <p style="text-align: center;">Then scroll down to the <b>Book a kitchen button&nbsp;</b>below.</p> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>


<div class="textImage"> 
    <!--Authenticated --> 
    <!-- <div class="u-authenticated"> 
     <div class="ID-1538 "> 
      <div class="row  flex-row-reverse mob-flex-column-reverse"> 
       <div class="col-12 col-xs-12 col-sm-6 col-md-6"> 
        <div class="text-center small-container margin-top-20-percent " style=" background-color: #transp"> 
         <h5>INNOVATION&nbsp;• INSPIRATION&nbsp;• IDEATION</h5> 
         <h1>Inspiring the Future of Food</h1> 
         <p>Food Innovators are Woolworth’s dynamic &amp; talented team of in house Innovation Chef’s</p> 
         <p>We are inspired and driven by our love of good food. We are continually researching new food trends, developing new recipes and finding new ingredients to create inspiring new food products for you!</p> 
         <p>Enjoy our new online home &amp; get inspired &amp; informed with recipes, the latest food trends &amp; food stories!</p> 
         <p>&nbsp;</p> 
        </div> 
       </div> 
       <div class="col-12 col-xs-12 col-sm-6 col-md-6"> 
        <img class="card__image img-fluid img-responsive " alt="food" src="/content/dam/food-innovators/blogimages/finalhp-top-section-img.png"> 
       </div> 
      </div> 
     </div> 
    </div>  -->
    <!--Un Authenticated --> 
    <div class="u-unauthenticated"> 
     <div class="ID-1576 "> 
      <div class="row  flex-row-reverse mob-flex-column-reverse"> 
       <div class="col-12 col-xs-12 col-sm-6 col-md-6"> 
        <div class="text-center small-container margin-top-20-percent " > 
         <h5>INNOVATION&nbsp;• INSPIRATION&nbsp;• IDEATION</h5> 
         <h1>Inspiring the Future of Food</h1> 
         <p>Food Innovators are Woolworth’s dynamic &amp; talented team of in house Innovation Chef’s</p> 
         <p>We are inspired and driven by our love of good food. We are continually researching new food trends, developing new recipes and finding new ingredients to create inspiring new food products for you!</p> 
         <p>Enjoy our new online home &amp; get inspired &amp; informed with recipes&nbsp; &amp; food stories!</p> 
         <p>&nbsp;</p> 
        </div> 
       </div> 
       <div class="col-12 col-xs-12 col-sm-6 col-md-6"> 
        <img class="card__image img-fluid img-responsive " alt="food" src="../../assets//images/finalhp-top-section-img.png"> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>