<div> 
    <div class="background-container parbase"> 
     <div class="custom-bgcolor  " style="background-color:transparent;padding-top:20px;padding-bottom:5px;padding-left:20px;padding-right:20px;"> 
      <div class="par parsys"> 
       <div class="bread-crumb section"> 
        <div class="breadcrumbs"> 
         <a class="breadcrumbs__node" href="/content/innovators-food/en/home/what-we-do.html">What we do</a> 
         <svg class="breadcrumbs__chevron"> 
            <use xlink:href="../../../assets/images/icons-sprite.svg#arrow-right"></use> 
            <!-- <img class="breadcrumbs__chevron" src="../../../assets/images/icons-sprite.png"> -->
            

           </svg> 
         <strong class="breadcrumb__page">Foodie Workshops</strong> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="heroBanner-auth-unauth"> 
     <!--Authenticated --> 
     <div class="u-authenticated"> 
      <div class="top-hero__landing-gradient"> 
       <div class="top-hero top-hero--bg-lower" style="background-image: url('../../../assets/images/innodaycut2020.png');"> 
        <div class="top-hero__wrapper"> 
         <div class="top-hero__mobile-image"> 
          <!-- <img class="top-hero__mobile-image__img" src="/content/dam/food-innovators/cookingClasses/workshopchimmichurrifinal.jpg"> --> 
         </div> 
         <div class="top-hero__wrapper__inner"> 
          <div class="row"> 
           <div class="col-md-12"> 
            <h2 class="u-h2 u-text-primary">INSIGHT</h2> 
            <h1 class="u-h1 u-text-primary">Foodie Workshops</h1> 
           </div> 
          </div> 
          <div class="row"> 
           <div class="col-md-5 u-desktop-only"> 
            <div class="top-hero__blurb u-subheading"> 
             <p>Join us in the Cooking School for some on trend learning.&nbsp;</p> 
             <p>Follow us on Google Currents to hear about our </p> 
             <p>latest Workshops</p> 
            </div> 
           </div> 
           <div class="top-hero__blurb__container u-mobile-only"> 
            <div class="top-hero__blurb u-subheading"> 
             <p>Join us in the Cooking School for some on trend learning.&nbsp;Follow us on Google Currents to hear about our latest Workshops</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!--Un Authenticated --> 
     <div class="u-unauthenticated"> 
      <div class="top-hero__landing-gradient"> 
       <div class="top-hero top-hero--bg-lower" style="background-image: url('../../../assets/images/innodaycut2020.png');"> 
        <div class="top-hero__wrapper"> 
         <div class="top-hero__mobile-image"> 
          <!-- <img class="top-hero__mobile-image__img" src="/content/dam/food-innovators/cookingClasses/workshopchimmichurrifinal.jpg"> --> 
         </div> 
         <div class="top-hero__wrapper__inner"> 
          <div class="row"> 
           <div class="col-md-12"> 
            <h2 class="u-h2 u-text-primary">Insight</h2> 
            <h1 class="u-h1 u-text-primary">Foodie Workshops</h1> 
           </div> 
          </div> 
          <div class="row"> 
           <div class="col-md-5 u-desktop-only"> 
            <div class="top-hero__blurb u-subheading"> 
             <p>Join us in the Cooking School for some on trend learning. Follow us on Google Currents to hear about our latest Workshops</p> 
            </div> 
           </div> 
           <div class="top-hero__blurb__container u-mobile-only"> 
            <div class="top-hero__blurb u-subheading"> 
             <p>Join us in the Cooking School for some on trend learning.&nbsp;Follow us on Google Currents to hear about our latest Workshops</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="background-container parbase"> 
     <div class="custom-bgcolor margin-bottom-50 margin-top-50  " style="background-image: url('../../../assets/images/cream-bg.png');background-size:100%;background-color:transparent;padding-top:100px;padding-bottom:100px;padding-left:40px;padding-right:40px;"> 
      <div class="par parsys"> 
       <div class="bootstrapcolCtrlAdvanced section"> 
        <div class="col-row    " id="column-1603"> 
         <div class=" col-lg- col-md-3 col-sm-3 col-xs-12 col-12 no-margin"> 
          <div class="columns1 parsys"> 
           <div class="image parbase section"> 
            <div id="cq-image-jsp-/content/innovators-food/en/home/what-we-do/foodie-workshop/jcr:content/mainParsys/background_container_12345/par/bootstrapcolctrladva_1295760661/columns1/image"> 
             <img src="../../../assets/images/1623071546404.jpeg" alt="zacemma" title="zacemma" class="cq-dd-image"> 
            </div> 
 
           </div> 
          </div> 
         </div> 
         <div class=" col-lg- col-md-6 col-sm-6 col-xs-12 col-12 no-margin"> 
          <div class="columns2 parsys"> 
           <div class="text-extended parbase section"> 
            <div style="padding: 20px;"> 
             <p>&nbsp;</p> 
             <p style="text-align: center;">Join us in our cooking school for one of our regular hands on workshops where we explore food trends, new ingredients &amp; cooking techniques! Follow us on Google Currents for invites &amp; info about the upcoming workshops.&nbsp;</p> 
             <p>&nbsp;</p> 
             <h5 style="text-align: center;"><a adhocenable="false" href="https://currents.google.com/u/0/communities/108708208550789694369" target="_blank"><b>Join our Google Currents community</b></a></h5> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class=" col-lg- col-md-3 col-sm-3 col-xs-12 col-12 no-margin"> 
          <div class="columns3 parsys"> 
           <div class="image parbase section"> 
            <div id="cq-image-jsp-/content/innovators-food/en/home/what-we-do/foodie-workshop/jcr:content/mainParsys/background_container_12345/par/bootstrapcolctrladva_1295760661/columns3/image"> 
             <img src="../../../assets/images/1623071559815.jpeg" alt="cookingworkshop" title="cookingworkshop" class="cq-dd-image"> 
            </div> 
  
           </div> 
           <div class="image parbase section"> 
            <div id="cq-image-jsp-/content/innovators-food/en/home/what-we-do/foodie-workshop/jcr:content/mainParsys/background_container_12345/par/bootstrapcolctrladva_1295760661/columns3/image_189966456"> 
             <img src="../../../assets/images/1623071565326.jpeg" alt="gnocchirolling" title="gnocchirolling" class="cq-dd-image"> 
            </div> 
 
           </div> 
          </div> 
         </div> 
        </div> 
        <div style="clear:both"></div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>