





<div class="card__container">
 
    <swiper
      [slidesPerView]="3"
      [spaceBetween]="0"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      
    >
      <ng-template swiperSlide >
        <div class="card"> 
              
          <div class="card__image__wrapper"> 
         <a href=" -12.html" > <img src="../../../assets/images/75Lunchbox Ideas.png" alt="Kids Lunchbox Ideas Class" class="card__image__wrapper-top img img-fluid"> </a> 
        </div> 
        <div class="card__content" > 
         <div class="card__title"> 
          <a href=" -12.html" > <h5>Kids Lunchbox Ideas Class</h5> </a> 
         </div> 
         <div class="card__description"> 
          <p> Do you want to do something fun during the school holidays? Come and let us teach you how to make easy and exciting recipes to go into your lunch boxe... </p> 
         </div> 
         <div class="card__bottom"> 
          <a href=" -12.html" class="btn btn-lg btn-success">Click here for info</a> 
         </div> 
        </div> 
       </div>
      
      </ng-template>
      <ng-template swiperSlide>
        <div class="card"> 
              
          <div class="card__image__wrapper"> 
         <a href=" -12.html" > <img src="../../../assets/images/75Lunchbox Ideas.png" alt="Kids Lunchbox Ideas Class" class="card__image__wrapper-top img img-fluid"> </a> 
        </div> 
        <div class="card__content" > 
         <div class="card__title"> 
          <a href=" -12.html" > <h5>Kids Lunchbox Ideas Class</h5> </a> 
         </div> 
         <div class="card__description"> 
          <p> Do you want to do something fun during the school holidays? Come and let us teach you how to make easy and exciting recipes to go into your lunch boxe... </p> 
         </div> 
         <div class="card__bottom"> 
          <a href=" -12.html" class="btn btn-lg btn-success">Click here for info</a> 
         </div> 
        </div> 
       </div>    </ng-template>
      <ng-template swiperSlide>
        <div class="card cardsStyle"> 
              
          <div class="card__image__wrapper"> 
         <a href=" -12.html" > <img src="../../../assets/images/75Lunchbox Ideas.png" alt="Kids Lunchbox Ideas Class" class="card__image__wrapper-top img img-fluid"> </a> 
        </div> 
        <div class="card__content" > 
         <div class="card__title"> 
          <a href=" -12.html" > <h5>Kids Lunchbox Ideas Class</h5> </a> 
         </div> 
         <div class="card__description"> 
          <p> Do you want to do something fun during the school holidays? Come and let us teach you how to make easy and exciting recipes to go into your lunch boxe... </p> 
         </div> 
         <div class="card__bottom"> 
          <a href=" -12.html" class="btn btn-lg btn-success">Click here for info</a> 
         </div> 
        </div> 
       </div>    </ng-template>
      <ng-template swiperSlide>
        <div class="card"> 
              
          <div class="card__image__wrapper"> 
         <a href=" -12.html" > <img src="../../../assets/images/75Lunchbox Ideas.png" alt="Kids Lunchbox Ideas Class" class="card__image__wrapper-top img img-fluid"> </a> 
        </div> 
        <div class="card__content" > 
         <div class="card__title"> 
          <a href=" -12.html" > <h5>Kids Lunchbox Ideas Class</h5> </a> 
         </div> 
         <div class="card__description"> 
          <p> Do you want to do something fun during the school holidays? Come and let us teach you how to make easy and exciting recipes to go into your lunch boxe... </p> 
         </div> 
         <div class="card__bottom"> 
          <a href=" -12.html" class="btn btn-lg btn-success">Click here for info</a> 
         </div> 
        </div> 
       </div>    </ng-template>
      <ng-template swiperSlide>
        <div class="card"> 
              
          <div class="card__image__wrapper"> 
         <a href=" -12.html" > <img src="../../../assets/images/75Lunchbox Ideas.png" alt="Kids Lunchbox Ideas Class" class="card__image__wrapper-top img img-fluid"> </a> 
        </div> 
        <div class="card__content" > 
         <div class="card__title"> 
          <a href=" -12.html" > <h5>Kids Lunchbox Ideas Class</h5> </a> 
         </div> 
         <div class="card__description"> 
          <p> Do you want to do something fun during the school holidays? Come and let us teach you how to make easy and exciting recipes to go into your lunch boxe... </p> 
         </div> 
         <div class="card__bottom"> 
          <a href=" -12.html" class="btn btn-lg btn-success">Click here for info</a> 
         </div> 
        </div> 
       </div>    </ng-template>
      <ng-template swiperSlide>
        <div class="card"> 
              
          <div class="card__image__wrapper"> 
         <a href=" -12.html" > <img src="../../../assets/images/75Lunchbox Ideas.png" alt="Kids Lunchbox Ideas Class" class="card__image__wrapper-top img img-fluid"> </a> 
        </div> 
        <div class="card__content" > 
         <div class="card__title"> 
          <a href=" -12.html" > <h5>Kids Lunchbox Ideas Class</h5> </a> 
         </div> 
         <div class="card__description"> 
          <p> Do you want to do something fun during the school holidays? Come and let us teach you how to make easy and exciting recipes to go into your lunch boxe... </p> 
         </div> 
         <div class="card__bottom"> 
          <a href=" -12.html" class="btn btn-lg btn-success">Click here for info</a> 
         </div> 
        </div> 
       </div>    </ng-template>
    </swiper>
 

</div>


   