<div class="background-container parbase"> 
    <div class="custom-bgcolor xsmall-container " style="background-color:transparent;padding-top:50px;padding-bottom:50px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 

    

      <div class="background-container parbase section"> 
       <div class="custom-bgcolor u-unauthenticated" style="background-color:transparent;padding-top:0px;padding-bottom:0px;"> 
        <div class="par parsys"> 
         <div class="bootstrapcolCtrlAdvanced section"> 
          <div class="row    " id="column-1603"> 
           <div class=" col-lg- col-md-6 col-sm-6 col-xs-12 col-12 no-"> 
            <div class="columns1 parsys"> 
             <div class="textImage section"> 
              <!--Authenticated --> 
              <!-- <div class="u-authenticated"> 
               <div class="ID-1538 "> 
                <div class="row  flex-column mob-flex-column"> 
                 <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
                  <div class="text-center small-container  "style="background-color:transparent;padding-top:0px;padding-bottom:0px;"> 
                   <h6><a adhocenable="false" href="https://www.facebook.com/foodinnovators/" target="_blank">STAY CONNECTED ON</a></h6> 
                   <h2><a adhocenable="false" href="https://www.facebook.com/foodinnovators/" target="_blank">Facebook</a></h2> 
                   <p>&nbsp;</p> 
                  </div> 
                 </div> 
                 <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
                  <a href="https://www.facebook.com/foodinnovators/" target="_blank"> <img class="card__image img-fluid img-responsive image-width-full xlarge-container pad-top-10" alt="facebook" src="/content/dam/food-innovators/icons/facebook-icon.svg"> </a> 
                 </div> 
                </div> 
               </div> 
              </div>  -->
              <!--Un Authenticated --> 
              <div class="u-unauthenticated"> 
               <div class="ID-1576 "> 
                <div class="row  flex-column mob-flex-column"> 
                 <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
                  <div class="text-center small-container  "style="background-color:transparent;padding-top:0px;padding-bottom:0px;"> 
                   <h6><a adhocenable="false" href="https://www.facebook.com/foodinnovators/" target="_blank">STAY CONNECTED ON</a></h6> 
                   <h2><a adhocenable="false" href="https://www.facebook.com/foodinnovators/" target="_blank">Facebook</a></h2> 
                  </div> 
                 </div> 
                 <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
                  <a href="https://www.facebook.com/foodinnovators/" target="_blank"> <img class="card__image img-fluid img-responsive image-width-full xlarge-container" alt="food" src="../../../assets/images/facebook-icon.svg"> </a> 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div class=" col-lg- col-md-6 col-sm-6 col-xs-12 col-12 no-"> 
            <div class="columns2 parsys"> 
             <div class="textImage section"> 
              <!--Authenticated --> 
              <!-- <div class="u-authenticated"> 
               <div class="ID-1538 "> 
                <div class="row  flex-column mob-flex-column"> 
                 <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
                  <div class="text-center small-container  "style="background-color:transparent;padding-top:0px;padding-bottom:0px;"> 
                   <h6><a adhocenable="false" href="https://www.instagram.com/innovatorsfood/" target="_blank">STAY CONNECTED ON</a></h6> 
                   <h2><a adhocenable="false" href="https://www.instagram.com/innovatorsfood/" target="_blank">Instagram</a></h2> 
                  </div> 
                 </div> 
                 <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
                  <a href="https://www.instagram.com/innovatorsfood/" target="_blank"> <img class="card__image img-fluid img-responsive image-width-full xlarge-container pad-top-50" alt="instagram" src="/content/dam/food-innovators/icons/instagram-icon.svg"> </a> 
                 </div> 
                </div> 
               </div> 
              </div>  -->
              <!--Un Authenticated --> 
              <div class="u-unauthenticated"> 
               <div class="ID-1576 "> 
                <div class="row  flex-column mob-flex-column"> 
                 <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
                  <div class="text-center small-container  "style="background-color:transparent;padding-top:0px;padding-bottom:0px;"> 
                   <h6><a adhocenable="false" href="https://www.instagram.com/innovatorsfood/">STAY CONNECTED ON</a></h6> 
                   <h2><a adhocenable="false" href="https://www.instagram.com/innovatorsfood/">Instagram</a></h2> 
                  </div> 
                 </div> 
                 <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
                  <a href="https://www.instagram.com/innovatorsfood/" target="_blank"> <img class="card__image img-fluid img-responsive image-width-full xlarge-container" alt="instagram" src="../../../assets/images/instagram-icon.svg"> </a> 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div style="clear:both"></div> 
         </div> 
        </div> 
       </div> 
       <div style="clear:both"></div> 
      </div> 
      <div class="background-container parbase section"> 
       <div class="custom-bgcolor text-center small-container" style="background-color:transparent;padding-top:100px;padding-bottom:50px;"> 
        <div class="par parsys"> 
         <div class="text-extended-auth-unauth section"> 
          <div class="u-authenticated"> 
           <h4 style="text-align: center;">Signup here for Updates from us!</h4> 
          </div> 
          <!-- <div class="u-unauthenticated"> 
           <h4 style="text-align: center;">Signup here for Updates from us!</h4> 
          </div>  -->
         </div> 
         <div class="news-letter parbase section"> 
          <!-- Begin Mailchimp Signup Form --> 
          <div id="mc_embed_signup"> 
           <form action="https://facebook.us16.list-manage.com/subscribe/post?u=90982ea54ac71f10f5c14b612&amp;id=0d92ddff9d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> 
            <div id="mc_embed_signup_scroll input-group"> 
             <div class="mc-field-group"> 
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your mail"> 
             </div> 
             <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--> 
             <div style="position: absolute; left: -5000px;" aria-hidden="true"> 
              <input type="text" name="b_90982ea54ac71f10f5c14b612_0d92ddff9d" tabindex="-1" value=""> 
             </div> 
             <div class="clear"> 
              <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button"> 
             </div> 
             <div id="mce-responses" class="clear"> 
              <div class="response" id="mce-error-response" style="display:none"></div> 
              <div class="response" id="mce-success-response" style="display:none"></div> 
             </div> 
            </div> 
           </form> 
          </div> 
          <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script> 
          <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script> 
          <!--End mc_embed_signup--> 
         </div> 
        </div> 
       </div> 
       <div style="clear:both"></div> 
      </div> 
     </div> 
    </div> 
   </div> 