


   <head>
    <meta charset="UTF-8">
    <title>Retrica</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>





   <div class="global-header"> 
    <style>
  button{overflow:visible;border:0;font:inherit;-webkit-font-smoothing:inherit;letter-spacing:inherit;background:0;cursor:pointer;padding:0}
</style> 
    <nav id="aem-navbar" class="navbar navbar-expand-lg navbar-dark aem-navigation-dark" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed-top':'static-top'"> 
     <a href="/foodInnovators" class="navbar-brand header__home-link"> <img src="../../../assets/images/food-innovators-logo.svg" alt="Woolworths Group" class="header__logo img img-fluid"> </a> 
     <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2"> 
        <span id="hamburger-menu"  class="fa fa-bars" ></span>
        </button>
            
        
     <div class="collapse navbar-collapse" id="navbarSupportedContent2" style="z-index:200"> 
      <!-- Links --> 
      <ul class="navbar-nav"> 
       <li class="nav-item dropdown mega-dropdown " id="item1"> <a href="/whatWeDo"  target="_self" class="nav-link">What we do <span style="padding: 0 30px;" class="fa fa-angle-down hidden-md hidden-lg"></span> </a> 
        <div class="dropdown-menu mega-menu item2" > 
         <div class="mega-menu-row row"> 
          <div class="hidden-xs hidden-sm col-md-3 col-lg-3 "> 
           <div class="sub-menu description"> 
            <!--<h2 class="caption-header">What we do</h2>
                                                      <p class="caption">
                                                          Test for What we do
                                                      </p>--> 
            <img class="img-responsive" src="../../../assets/images/nav-what-we-do.png" alt="What we do"> 
           </div> 
          </div> 
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9"> 
           <div class="sub-menu-contents"> 
            <ul class="list-unstyled sub-menu-list"> 
             <li class="sub-menu-list-item"> <a class="menu-item" href="/meetTheTeam" target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Meet The Team </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" href="/contact" target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Contact Us </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" href="/chefInternProgram" target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Innovation Chef Intern Program </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" href="/InnovationDays" target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Innovation Days </a> </li> 
            </ul> 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <div> 
        <div class="not-logged-in"> 
        </div> 
       </div> 
       <li class="nav-item dropdown mega-dropdown"> <a href="/cookingSchool"  target="_self" class="nav-link">Cooking School <span id="navbarDropdownMenuLink2" style="padding: 0 30px;" class="fa fa-angle-down hidden-md hidden-lg"></span> </a> 
        <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdownMenuLink2"> 
         <div class="mega-menu-row row"> 
          <div class="hidden-xs hidden-sm col-md-3 col-lg-3 "> 
           <div class="sub-menu description"> 
            <!--<h2 class="caption-header">Cooking School</h2>
                                                      <p class="caption">
                                                          Sample Description
                                                      </p>--> 
            <img class="img-responsive" src="../../../assets/images/classes-Nav-Image.png" alt="Cooking School"> 
           </div> 
          </div> 
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9"> 
           <div class="sub-menu-contents"> 
            <ul class="list-unstyled sub-menu-list"> 
             <li class="sub-menu-list-item"> <a class="menu-item" href="/cookingClasses" target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Cooking Classes </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" href="/teamBuilding" target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Team Building </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" href="/FAQ" target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Cooking Class Frequently Asked Questions </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" href="/termsAndConditions" target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Cooking Class Terms and Conditions </a> </li> 
            </ul> 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <div> 
        <div class="not-logged-in"> 
         <li> 
          <div class="header__logo__wrapper header-desktop-only" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed-header-logo':'static-top'"> 
           <a href="foodInnovators"> <img src="../../../assets/images/food-innovators-logo.svg" alt="Woolworths Group" class="header__logo"><span></span> </a> 
          </div> </li> 
        </div> 
       </div> 
       <li class="nav-item dropdown mega-dropdown"> <a href="/recipes"  target="_self" class="nav-link">Recipes <span id="navbarDropdownMenuLink3" style="padding: 0 30px;" class="fa fa-angle-down hidden-md hidden-lg"></span> </a> 
        <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdownMenuLink3"> 
         <div class="mega-menu-row row"> 
          <div class="hidden-xs hidden-sm col-md-3 col-lg-3 "> 
           <div class="sub-menu description"> 
            <!--<h2 class="caption-header">Recipes</h2>
                                                      <p class="caption">
                                                          
                                                      </p>--> 
            <img class="img-responsive" src="../../../assets/images/besteverspongecake.jpg" alt="Recipes"> 
           </div> 
          </div> 
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9"> 
           <div class="sub-menu-contents"> 
            <ul class="list-unstyled sub-menu-list"> 
             <li class="sub-menu-list-item"> <a class="menu-item" [routerLink]="['/recipesSearch', '7']" target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Breakfast </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" [routerLink]="['/recipesSearch', '3']"  target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Snacks </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" [routerLink]="['/recipesSearch', '5']"  target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Salads </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" [routerLink]="['/recipesSearch', '1']"  target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Lunch </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" [routerLink]="['/recipesSearch', '6']"  target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Dinners </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" [routerLink]="['/recipesSearch', '4']"  target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Desserts </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item" [routerLink]="['/recipesSearch', '2']"  target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Baking </a> </li> 
             <li class="sub-menu-list-item"> <a class="menu-item active-tree-node" href="/content/innovators-food/en/home/recipes/recipes-search.html" target="_self"> <i style="padding-right: 10px;" class="fa fa-angle-right"></i>Recipes Search </a> </li> 
            </ul> 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <div> 
        <div class="not-logged-in"> 
        </div> 
       </div> 
       <li class="nav-item dropdown mega-dropdown mobile-only mobile-search-item"> <a class="nav-link" href="/content/innovators-food/en/home/search.html"> <span>Search</span> <span class="mobile-search-icon" ><img src="../../../assets/images/search.png" (click)="openSearchContainer()"></span> </a> </li> 
       <li class="nav-item dropdown mega-dropdown button-container"> 
        <div class="header-search-container desktop-only"[ngClass]='filterClass' > 
         <div class="input-group"> 
          <div class="search-promapp-aem-input parbase"> 
           <form autocomplete="off" action="/content/innovators-food/en/home/search.html" class="search-form"> 
            <div id="search-input" class="input-group has-feedback search-control"> 
             <input class="form-control search autosuggest" type="text" id="solr-q-1" name="st" size="48" autocomplete="off" data-action="/content/innovators-food/en/home/search.html" placeholder="Enter your Search text...."> 
             <a class="search-icon"  onclick="headerSearchIconClickPromappAEM(this);"> <img (click)="openSearchContainer()" src="../../../assets/images/search.png" id="basic-addon3"> </a> 
            </div> 
            <img src="../../../assets/images/close.png" (click)="closeSearchContainer()" class="close-search-icon"> 
           </form> 
          </div> 
         </div> 
        </div> 
        <div class="header is-authenticated"> 
         <div class="header__inner"> 
          <div class="header__logged-in js-header__logged-in"> 
           <button class="header__logged-in__toggle js-header__logged-in__toggle"> 
            <div> 
             <div> 
              <div class="login-parsys"> 
               <script type="text/javascript" src="https://apis.google.com/js/platform.js" gapi_processed="true"></script> 
               <!--*Custom graphic script--> 
  
               <div class="row login-container text-center"> 
                <form id="loginForm" action="/content/innovators-food/en/home/recipes/recipes-search/j_google_security_check" method="POST"> 
                 <input type="hidden" name="j_g_first_name" id="j_g_first_name" value=""> 
                 <input type="hidden" name="j_g_last_name" id="j_g_last_name" value=""> 
                 <input type="hidden" name="j_g_image_url" id="j_g_image_url" value=""> 
                 <input type="hidden" name="j_g_email" id="j_g_email" value=""> 
                 <input type="hidden" name="j_g_access_token" id="j_g_access_token" value=""> 
                </form> 
               </div> 
              </div> 
             </div> 
            </div></button> 
           <button class="g-signin" id="loginbtn" data-callback="startApp" data-theme="dark"> <img src="../../../assets/images/user-icon.png"> Login<span></span></button> 
          </div> 

         </div> 
        </div> </li> 
      </ul> 
     </div> 
    </nav> 
   </div>










