<div class="background-container parbase"> 
    <div class="custom-bgcolor xxsmall-container eq-height " style="background-color:transparent;padding-top:100px;padding-bottom:100px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="bootstrapcolCtrlAdvanced section"> 
       <div class="row    " id="column-1603"> 
        <div class=" col-lg- col-md-4 col-sm-6 col-xs-12 col-12 no-"> 
         <div class="columns1 parsys"> 
          <div class="text-extended-auth-unauth section"> 
           <div class="u-authenticated"> 
            <h4 style="text-align: center;">VIDEO</h4> 
            <h2 style="text-align: center;">Sneak a Peak Into Our Cooking School</h2> 
           </div> 
           <div class="u-unauthenticated"> 
            <h4 style="text-align: center;">VIDEO</h4> 
            <h2 style="text-align: center;">Sneak a Peak Into Our Cooking School</h2> 
           </div> 
          </div> 
          <div class="textimage-auth-unauth textimage parbase section"> 
           <div> 
            <!--Authenticated --> 
            <div class="u-authenticated ID-1848--auth "> 
             <div class="row no-gutters flex-column"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/content/innovators-food/en/home/cooking-school.html"> <img class="card__image img-fluid " src="../../../assets/images/cooking-class-vid-snap.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab pad-top-20 xsmall-container" style="background-color: rgb(232, 222, 218); height: 30px;"> 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/content/innovators-food/en/home/cooking-school.html" target="_self" style="color: #000000">A fun way to learn cooking</a> 
                 <span class="card__description"><p>Join us in our state of the art cooking school for a fun, informative &amp; totally inspiring cooking class</p> </span> 
                 <div class="card__description__listing"> 
                  <div class="card-description"> 
                   <a href="/content/innovators-food/en/home/cooking-school.html" target="_self"> </a> 
                   <p><a href="/content/innovators-food/en/home/cooking-school.html" target="_self"><u></u></a><u><a adhocenable="false" href="/content/innovators-food/en/home/cooking-school.html">View Video</a></u></p> 
                  </div> 
                 </div> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div> 
            <!--Un Authenticated --> 
            <div class="u-unauthenticated ID-1910--unauth "> 
             <div class="row no-gutters flex-column"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/cookingSchool"> <img class="card__image img-fluid " alt="cooking classes" src="../../../assets/images/cooking-class-vid-snap.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab pad-top-20 xsmall-container" style="background-color: rgb(232, 222, 218); height: 241.555px;"> 
                <div class="text-left"> 
                 <p class="card__title js-gtm-card-title" style=" color: #000000">A fun way to learn cooking</p> 
                 <span class="card__description"><p>Join us in our state of the art cooking school for a fun, informative &amp; totally inspiring cooking class (Classes currently on hold due to Covid restrictions)</p> </span> 
                 <div class="card__description__listing"> 
                  <div class="card-description"> 
                   <a href="/cookingSchool" target="_self"> </a> 
                   <p><a href="/cookingSchool" target="_self"><u></u></a><u><a adhocenable="false" href="/cookingSchool">View Video</a></u></p> 
                  </div> 
                 </div> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class=" col-lg- col-md-4 col-sm-6 col-xs-12 col-12 no-"> 
         <div class="columns2 parsys"> 
          <div class="text-extended-auth-unauth section"> 
           <div class="u-authenticated"> 
            <h4 style="text-align: center;">TRENDS &amp; STORIES</h4> 
            <h2 style="text-align: center;">Find Out What is New in Our Kitchen</h2> 
           </div> 
           <div class="u-unauthenticated"> 
            <h4 style="text-align: center;">INNOVATION DAYS</h4> 
            <h2 style="text-align: center;">Find out about our last event&nbsp;</h2> 
           </div> 
          </div> 
          <div class="textimage-auth-unauth textimage parbase section"> 
           <div> 
            <!--Authenticated --> 
            <div class="u-authenticated ID-1848--auth "> 
             <div class="row no-gutters flex-column"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/content/innovators-food/en/home/blog"> <img class="card__image img-fluid " alt="trends" src="../../../assets/images/resources-Nav-Image.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab pad-top-20 xsmall-container" style="background-color: rgb(232, 222, 218); height: 30px;"> 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/content/innovators-food/en/home/blog.html" target="_self" style="color: #000000">Top Trends of 2021</a> 
                 <span class="card__description"><p>Staying aware of food Trends helps us to anticipate what our customers are looking for, and support them to explore different ways of fulfilling their needs</p> </span> 
                 <div class="card__description__listing"> 
                  <div class="card-description"> 
                   <a href="/content/innovators-food/en/home/blog.html" target="_self"> <p><u>Read Some Food Trends and Stories</u></p> </a> 
                  </div> 
                 </div> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div> 
            <!--Un Authenticated --> 
            <div class="u-unauthenticated ID-1910--unauth "> 
             <div class="row no-gutters flex-column"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/InnovationDays"> <img class="card__image img-fluid" alt="innovation day" src="../../../assets/images/Innovation Day flyer2020square.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab pad-top-20 xsmall-container" style="background-color: rgb(232, 222, 218); height: 241.555px;"> 
                <div class="text-left"> 
                 <a class="card__title js-gtm-card-title" href="/InnovationDays" target="_self" >Innovation Days</a> 
                 <span class="card__description"><p>Get inspired and informed on the latest Food trends happening with an amazing line up of speakers and presenters.</p> </span> 
                 <div class="card__description__listing"> 
                  <div class="card-description"> 
                   <a href="/InnovationDays" target="_self"> <p><u>See More Info</u></p> </a> 
                  </div> 
                 </div> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class=" col-lg- col-md-4 col-sm-12 col-xs-12 col-12 no-"> 
         <div class="columns3 parsys"> 
          <div class="text-extended-auth-unauth section"> 
           <div class="u-authenticated"> 
            <h4 style="text-align: center;">RECIPES</h4> 
            <h2 style="text-align: center;">Recreate Our Recipes At Home</h2> 
           </div> 
           <div class="u-unauthenticated"> 
            <h4 style="text-align: center;">RECIPES</h4> 
            <h2 style="text-align: center;">Recreate Our Recipes At Home</h2> 
           </div> 
          </div> 
          <div class="textimage-auth-unauth textimage parbase section"> 
           <div> 
            <!--Authenticated --> 
            <div class="u-authenticated ID-1848--auth "> 
             <div class="row no-gutters flex-column"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/content/innovators-food/en/home/recipes/recipes-parent-1/recipe-6.html"> <img class="card__image img-fluid " alt="mango crepes" src="../../../assets/images/resize24%20may%20192892%20copy.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab pad-top-20 xsmall-container" style="background-color: rgb(232, 222, 218); height: 30px;"> 
                <div class="text-center"> 
                 <a class="card__title js-gtm-card-title" href="/content/innovators-food/en/home/recipes/recipes-parent-1/recipe-6.html" target="_self" style="color: #000000">Mango Crepes</a> 
                 <span class="card__description"><p>A sweet summer treat, for any time of day.</p> </span> 
                 <div class="card__description__listing"> 
                  <div class="card-description"> 
                   <a href="/content/innovators-food/en/home/recipes/recipes-parent-1/recipe-6.html" target="_self"> <p><u>Have a look at our other Recipes</u></p> </a> 
                  </div> 
                 </div> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div> 
            <!--Un Authenticated --> 
            <div class="u-unauthenticated ID-1910--unauth "> 
             <div class="row no-gutters flex-column"> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <a href="/content/innovators-food/en/home/recipes/recipes-parent-1/recipe-6.html"> <img class="card__image img-fluid " alt="mango crepes" src="../../../assets/images/resize24%20may%20192892%20copy.png"> </a> 
              </div> 
              <div class="col-12 col-xs-12 col-sm-12 col-md-12"> 
               <div class="eq-height-tab pad-top-20 xsmall-container" style="background-color: rgb(232, 222, 218); height: 241.555px;"> 
                <div class="text-left"> 
                 <p class="card__title js-gtm-card-title" style=" color: #000000">Mango Crepes</p> 
                 <span class="card__description"><p>A sweet summer treat, for any time of day.</p> </span> 
                 <div class="card__description__listing"> 
                  <div class="card-description"> 
                   <a href="/content/innovators-food/en/home/recipes/recipes-parent-1/recipe-6.html" target="_self"> <p><u>Have a look at our other Recipes</u></p> </a> 
                  </div> 
                 </div> 
                </div> 
                <div class="card__bottom"> 
                 <img class="card__logo"> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div style="clear:both"></div> 
      </div> 
     </div> 
    </div> 
   </div>