<div class="background-container parbase"> 
   <div class="custom-bgcolor  " style="background-color:transparent;padding-top:50px;padding-bottom:50px;padding-left:40px;padding-right:40px;"> 
    <div class="par parsys"> 
     <div class="text-extended-auth-unauth section"> 
      <div class="u-authenticated"> 
       <h4 style="text-align: center;">JOIN US</h4> 
       <h2 style="text-align: center;">More Cooking Classes</h2> 
      </div> 
      <div class="u-unauthenticated"> 
       <h4 style="text-align: center;">JOIN US</h4> 
       <h2 style="text-align: center;">More Cooking Classes</h2> 
      </div> 
     </div> 
     <div class="page-list-component articleWidget section"> 
      <div> 
       <div class="container card__container enableSlick slick-initialized slick-slider" data-slick="{&quot;slidesToShow&quot;: 3, &quot;slidesToScroll&quot;: 1, &quot;centerMode&quot; : true, &quot;speed&quot; : 500, &quot;dots&quot; : false, &quot;autoplay&quot;: false, &quot;centerPadding&quot; : &quot;0&quot; }"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button> 
        <div class="slick-list draggable" style="padding: 0px;"><div class="slick-track" style="opacity: 1; width: 9658px; transform: translate3d(-1317px, 0px, 0px);">
         <div class="card main slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-8.html" tabindex="-1"> <img src="  ../../../assets/images/752resizeThaiclassNov.png" alt="Flavours of Thai Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>7</b> <br> Nov <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-8.html" tabindex="-1"> <h5>Flavours of Thai Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Have you always wanted to make a Thai paste from scratch? How many times have you had a Pad Thai and wondered what goes into this classic noodle dish!... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-8.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div>
        <div class="card slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-2.html" tabindex="-1"> <img src="  ../../../assets/images/75indian%20curries_n.jpg" alt="Classic Indian Curries with Vidya Bhandarkar" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>17</b> <br> Oct <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-2.html" tabindex="-1"> <h5>Classic Indian Curries with Vidya Bhandarkar</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Come and join us for an evening with our very own Indian food guru, Vidya Bhandarkar. This class you do not want to miss out on. She will bring some ... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-2.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/yum-cha.html" tabindex="-1"> <img src="  ../../../assets/images/75yumch-class1.jpeg" alt="Yum Cha Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>10</b> <br> Sep <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/yum-cha.html" tabindex="-1"> <h5>Yum Cha Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Come and join us in this age-old Chinese tradition of Yum Cha where you will learn the culture &amp; preparation of a traditional Yum Cha table. We will s... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/yum-cha.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-4.html" tabindex="0" class="active-tree-node"> <img src="  ../../../assets/images/75srilankan1.jpeg" alt="Sri Lankan Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>3</b> <br> Sep <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-4.html" tabindex="0" class="active-tree-node"> <h5>Sri Lankan Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> From a blend of spices, flavours and colours, we take you on a culinary journey through Sri Lanka for one night only! Roll up your sleeves and let’s s... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-4.html" class="btn btn-lg btn-success active-tree-node" tabindex="0">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-current slick-active slick-center" data-slick-index="0" aria-hidden="false" style="width: 419px;" tabindex="0"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-14.html" tabindex="0"> <img src="  ../../../assets/images/75pastaclass.jpg" alt="Pasta Making Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>12</b> <br> Mar <br> 2020</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-14.html" tabindex="0"> <h5>Pasta Making Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Join us with some Italian flair in the kitchen as we show you how to make pasta from scratch and how to add different flavour profiles. You will learn... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-14.html" class="btn btn-lg btn-success" tabindex="0">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 419px;" tabindex="0"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-13.html" tabindex="0"> <img src="  ../../../assets/images/75Greek%20Cooking%20Class%20-%20March%202020.png" alt="Greek Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>3</b> <br> Mar <br> 2020</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-13.html" tabindex="0"> <h5>Greek Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Come and cook up a Greek feast with us and experience the Mediterranean flavours of authentic Greek food on a table. You will learn how to make those ... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-13.html" class="btn btn-lg btn-success" tabindex="0">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide" data-slick-index="2" aria-hidden="true" style="width: 419px;" tabindex="0"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-12.html" tabindex="-1"> <img src="  ../../../assets/images/75Lunchbox%20Ideas.png" alt="Kids Lunchbox Ideas Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>23</b> <br> Jan <br> 2020</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-12.html" tabindex="-1"> <h5>Kids Lunchbox Ideas Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Do you want to do something fun during the school holidays? Come and let us teach you how to make easy and exciting recipes to go into your lunch boxe... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-12.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide" data-slick-index="3" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-10.html" tabindex="-1"> <img src="  ../../../assets/images/75resizekids%20xmascooking%2019_o.png" alt="Kids Christmas Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>19</b> <br> Dec <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-10.html" tabindex="-1"> <h5>Kids Christmas Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Christmas is COMING! What better way to get ready for the holidays, than to come and learn new festive recipes and tips in our cooking school. </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-10.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide" data-slick-index="4" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-9.html" tabindex="-1"> <img src="  ../../../assets/images/75xmasclass.jpg" alt="Christmas Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>12</b> <br> Dec <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-9.html" tabindex="-1"> <h5>Christmas Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Get inspired with festive new ideas to make Christmas unIque and memorable! </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-9.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card main slick-slide" data-slick-index="5" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-8.html" tabindex="-1"> <img src="  ../../../assets/images/752resizeThaiclassNov.png" alt="Flavours of Thai Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>7</b> <br> Nov <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-8.html" tabindex="-1"> <h5>Flavours of Thai Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Have you always wanted to make a Thai paste from scratch? How many times have you had a Pad Thai and wondered what goes into this classic noodle dish!... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-8.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide" data-slick-index="6" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-2.html" tabindex="-1"> <img src="  ../../../assets/images/75indian%20curries_n.jpg" alt="Classic Indian Curries with Vidya Bhandarkar" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>17</b> <br> Oct <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-2.html" tabindex="-1"> <h5>Classic Indian Curries with Vidya Bhandarkar</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Come and join us for an evening with our very own Indian food guru, Vidya Bhandarkar. This class you do not want to miss out on. She will bring some ... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-2.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide" data-slick-index="7" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/yum-cha.html" tabindex="-1"> <img src="  ../../../assets/images/75yumch-class1.jpeg" alt="Yum Cha Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>10</b> <br> Sep <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/yum-cha.html" tabindex="-1"> <h5>Yum Cha Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Come and join us in this age-old Chinese tradition of Yum Cha where you will learn the culture &amp; preparation of a traditional Yum Cha table. We will s... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/yum-cha.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide" data-slick-index="8" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-4.html" tabindex="-1" class="active-tree-node"> <img src="  ../../../assets/images/75srilankan1.jpeg" alt="Sri Lankan Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>3</b> <br> Sep <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-4.html" tabindex="-1" class="active-tree-node"> <h5>Sri Lankan Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> From a blend of spices, flavours and colours, we take you on a culinary journey through Sri Lanka for one night only! Roll up your sleeves and let’s s... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-4.html" class="btn btn-lg btn-success active-tree-node" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-14.html" tabindex="-1"> <img src="  ../../../assets/images/75pastaclass.jpg" alt="Pasta Making Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>12</b> <br> Mar <br> 2020</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-14.html" tabindex="-1"> <h5>Pasta Making Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Join us with some Italian flair in the kitchen as we show you how to make pasta from scratch and how to add different flavour profiles. You will learn... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-14.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-13.html" tabindex="-1"> <img src="  ../../../assets/images/75Greek%20Cooking%20Class%20-%20March%202020.png" alt="Greek Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>3</b> <br> Mar <br> 2020</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-13.html" tabindex="-1"> <h5>Greek Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Come and cook up a Greek feast with us and experience the Mediterranean flavours of authentic Greek food on a table. You will learn how to make those ... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-13.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-12.html" tabindex="-1"> <img src="  ../../../assets/images/75Lunchbox%20Ideas.png" alt="Kids Lunchbox Ideas Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>23</b> <br> Jan <br> 2020</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-12.html" tabindex="-1"> <h5>Kids Lunchbox Ideas Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Do you want to do something fun during the school holidays? Come and let us teach you how to make easy and exciting recipes to go into your lunch boxe... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-12.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-10.html" tabindex="-1"> <img src="  ../../../assets/images/75resizekids%20xmascooking%2019_o.png" alt="Kids Christmas Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>19</b> <br> Dec <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-10.html" tabindex="-1"> <h5>Kids Christmas Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Christmas is COMING! What better way to get ready for the holidays, than to come and learn new festive recipes and tips in our cooking school. </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-10.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-9.html" tabindex="-1"> <img src="  ../../../assets/images/75xmasclass.jpg" alt="Christmas Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>12</b> <br> Dec <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-9.html" tabindex="-1"> <h5>Christmas Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Get inspired with festive new ideas to make Christmas unIque and memorable! </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-9.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card main slick-slide slick-cloned slick-center" data-slick-index="14" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-8.html" tabindex="-1"> <img src="  ../../../assets/images/752resizeThaiclassNov.png" alt="Flavours of Thai Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>7</b> <br> Nov <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-8.html" tabindex="-1"> <h5>Flavours of Thai Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Have you always wanted to make a Thai paste from scratch? How many times have you had a Pad Thai and wondered what goes into this classic noodle dish!... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-8.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-2.html" tabindex="-1"> <img src="  ../../../assets/images/75indian%20curries_n.jpg" alt="Classic Indian Curries with Vidya Bhandarkar" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>17</b> <br> Oct <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-2.html" tabindex="-1"> <h5>Classic Indian Curries with Vidya Bhandarkar</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Come and join us for an evening with our very own Indian food guru, Vidya Bhandarkar. This class you do not want to miss out on. She will bring some ... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-2.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/yum-cha.html" tabindex="-1"> <img src="  ../../../assets/images/75yumch-class1.jpeg" alt="Yum Cha Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>10</b> <br> Sep <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/yum-cha.html" tabindex="-1"> <h5>Yum Cha Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> Come and join us in this age-old Chinese tradition of Yum Cha where you will learn the culture &amp; preparation of a traditional Yum Cha table. We will s... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/yum-cha.html" class="btn btn-lg btn-success" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div><div class="card slick-slide slick-cloned" data-slick-index="17" aria-hidden="true" style="width: 419px;" tabindex="-1"> 
         <div class="card__image__wrapper"> 
          <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-4.html" tabindex="-1" class="active-tree-node"> <img src="  ../../../assets/images/75srilankan1.jpeg" alt="Sri Lankan Cooking Class" class="card__image__wrapper-top img img-fluid"> </a> 
         </div> 
         <div class="card__content" style="height: 291.656px;"> 
          <div class="card__title"> 
           <span class="date-info"><b>3</b> <br> Sep <br> 2019</span> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-4.html" tabindex="-1" class="active-tree-node"> <h5>Sri Lankan Cooking Class</h5> </a> 
          </div> 
          <div class="card__description"> 
           <p> From a blend of spices, flavours and colours, we take you on a culinary journey through Sri Lanka for one night only! Roll up your sleeves and let’s s... </p> 
          </div> 
          <div class="card__bottom"> 
           <a href="/content/innovators-food/en/home/cooking-school/cooking-classes/news-item-4.html" class="btn btn-lg btn-success active-tree-node" tabindex="-1">Book Now</a> 
          </div> 
         </div> 
        </div></div></div> 
         
         
         
         
         
         
         
         
       <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button></div> 
       <div class="more-link-group"> 
        <a href="/content/innovators-food/en/home/cooking-school/cooking-classes.html" target="_self" class="btn btn-outline-success">See More Classes</a> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div>