<div class="background-container parbase"> 
   <div class="custom-bgcolor  " style="background-color:transparent;padding-top:50px;padding-bottom:50px;padding-left:40px;padding-right:40px;"> 
    <div class="par parsys"> 
     <div class="text-extended-auth-unauth section"> 
      <div class="u-authenticated"> 
       <h4 style="text-align: center;">JOIN US</h4> 
       <h2 style="text-align: center;">More Cooking Classes</h2> 
      </div> 
      <div class="u-unauthenticated"> 
       <h4 style="text-align: center;">JOIN US</h4> 
       <h2 style="text-align: center;">More Cooking Classes</h2> 
      </div> 
     </div> 
     <div class="page-list-component articleWidget section"> 
     
      

     

     
  <div class="  container card__container  draggable" >
    <button class="prevButton slick-prev" (click)="prev()">
      L
  </button>
  <button class="nextButton slick-next" (click)="prev()">
      R
  </button>
          <swiper-container slides-per-view="3" space-between="0" navigation="true" loop="true" navigation-prev-el=".prevButton" navigation-next-el=".nextButton"  centerMode = "true">
              <swiper-slide class=" eq-height box-container"  *ngFor="let cardItem of Cardetails">
              

         <div class="card"> 
          <div class="card__image__wrapper"> 
              <a href="/news-items" > <img src={{cardItem.image}}  alt={{cardItem.Head}} class="card__image__wrapper-top img img-fluid"> </a> 
             </div> 
             <div class="card__content" > 
              <div class="card__title"> 
                <span class="date-info"><b>{{cardItem.date}}</b> <br> {{cardItem.month}} <br> {{cardItem.year}}</span> 
               <a href="/news-items" > <h5>{{cardItem.Head}}</h5> </a> 
              </div> 
              <div class="card__description flexible"> 
               <p> {{cardItem.description}} </p> 
              </div> 
              <div class="card__bottom"> 
               <a href="/news-items" class="btn btn-lg btn-success">Book Now</a> 
              </div> 
             </div> 
            </div>
          </swiper-slide>
        </swiper-container>
       </div>
       
 

     
         
         
         
         
         
         
         
         
    
       <div class="more-link-group"> 
        <a href="/content/innovators-food/en/home/cooking-school/cooking-classes.html" target="_self" class="btn btn-outline-success">See More Classes</a> 
      
     </div> 
    </div> 
   </div> 
  </div>