<div class="background-container parbase"> 
    <div class="custom-bgcolor xsmall-container image-banner-overlay " style="background-color:transparent;padding-top:50px;padding-bottom:100px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="background-container parbase section"> 
       <div class="custom-bgcolor  u-authenticated " style="background-color:transparent;padding-top:50px;padding-bottom:100px;padding-left:0px;padding-right:0px;"> 
        <div class="par parsys"> 
         <div class="textImage section"> 
          <!--Authenticated --> 
          <!-- <div class="u-authenticated"> 
           <div class="ID-1495 "> 
            <div class="row no-gutters flex-row mob-flex-column-reverse"> 
             <div class="col-12 col-xs-12 col-sm-4 col-md-4"> 
              <div class="text-center xsmall-container pad-top-20 pad-bottom-20 h_100 " style=" background-color: #FFFFFF"> 
               <h4>&nbsp;</h4> 
               <h4>OUR SPACES</h4> 
               <h2>Book One Of Our Kitchens</h2> 
               <div class="text section"> 
                <p><a target="_self" href="/content/innovators-food/en/home/our-kitchens.html" class="btn btn-lg btn-transparent color-FFFFFF">Book A Kitchen</a></p> 
               </div> 
              </div> 
             </div> 
             <div class="col-12 col-xs-12 col-sm-8 col-md-8"> 
              <a href="/content/innovators-food/en/home/our-kitchens.html" target="_self"> <img class="card__image img-fluid img-responsive h_100" alt="theatre" src="../../../assets/images/kitchens-collage2.png"> </a> 
             </div> 
            </div> 
           </div> 
          </div>  -->
          <!--Un Authenticated --> 
          <div class="u-unauthenticated"> 
           <div class="ID-1533 "> 
            <div class="row   "> 
             <div class="col- col-xs- col-sm- col-md-"> 
             </div> 
             <div class="col- col-xs- col-sm- col-md-"> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="bootstrapcolCtrlAdvanced section"> 
       <div class="row   item-middle content-middle" id="column-1150"> 
        <div class=" col-lg- col-md-7 col-sm-7 col-xs-12 col-12 no-margin"> 
         <div class="columns1 parsys"> 
          <div class="iframe section"> 
           <style>
    .iframe-container{ height: 400px;width:100% }
@media screen and (max-width: 479px){
.iframe-component {
    transform:none;
    -webkit-transform:none;
    }

    }
@media screen and (max-width: 768px){
.iframe-component {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
}
</style> 
           <div class="inner-container iframe-loadercontainer"> 
            <div class="wow-loader-container"> 
             <div class="wow-loader"></div> 
            </div> 
            <div *ngIf="VideoDetails.category== 'CookingSchool'">
                <iframe id="iframe-1431" class="iframe-component iframe-container" src="https://www.youtube.com/embed/klQ0ZI5TTRU" frameborder="0" scrolling="yes"></iframe> 

            </div>
            <div *ngIf="VideoDetails.category== 'HomePage'">
            <iframe id="iframe-1431" class="iframe-component iframe-container" src="https://www.youtube.com/embed/SJgZPsC7470" frameborder="0" scrolling="yes"></iframe> 
        </div>   
        </div> 
          </div> 
         </div> 
        </div> 
        <div class=" col-lg- col-md-5 col-sm-5 col-xs-12 col-12 no-margin"> 
         <div class="columns2 parsys"> 
          <div class="text-extended parbase section"> 
           <div class="xsmall-container h_100" style="padding-top: 50px; padding-bottom: 70px; height: 350px;"> 
            <h3 style="text-align: center;">&nbsp;</h3> 
            <h3 style="text-align: center;">&nbsp;</h3> 
            <h3 style="text-align: center;">VIDEO</h3> 
            <h2 style="text-align: center;">{{VideoDetails.SubHead}}</h2> 
            <div *ngIf="VideoDetails.category== 'HomePage'">
                <h2 style="text-align: center;">
                    <a adhocenable="false" href="https://www.youtube.com/channel/UCBDNKcN9E3rV5KoC0_yEEXQ" target="_blank" style="font-size: 12px;">See More On Youtube</a>
                </h2> 
            </div>
            <div *ngIf="VideoDetails.category== 'CookingSchool'">
                <p><a href="https://www.instagram.com/innovatorsfood/">See More on Instagram</a></p> 
                <p><a href="/content/innovators-food/en/home/cooking-school/cooking-classes.html" adhocenable="false">Find More Cooking Classes</a></p> 
            </div>
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div style="clear:both"></div> 
      </div> 
     </div> 
    </div> 
   </div>


