

    <!-- top navigation html -->

    <div class="background-container parbase"> 
        <div class="custom-bgcolor xxsmall-container " style="background-color:transparent;padding-top:100px;padding-bottom:--px;padding-left:--px;padding-right:--px;"> 
         <div class="par parsys"> 
          <div class="bread-crumb section"> 
           <div class="breadcrumbs"> 
            <a class="breadcrumbs__node" href="/cookingSchool">Cooking School&nbsp;</a> 
            <svg class="breadcrumbs__chevron"> 
                <use xlink:href="../../../assets/images/icons-sprite.svg#arrow-right"></use> 
                <!-- <img class="breadcrumbs__chevron" src="../../../assets/images/icons-sprite.png"> -->
                
   
               </svg> 
            <strong class="breadcrumb__page">&nbsp;Cooking Class Frequently Asked Questions</strong> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div>
     <!-- top navigation html -->




<div class="background-container parbase"> 
    <div class="custom-bgcolor xsmall-container image-banner-overlay  " style="background-image: url(/content/dam/food-innovators/yellow-xxtall-bg.png);background-size:100%;background-color:transparent;padding-top:50px;padding-bottom:200px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="text-extended-auth-unauth section"> 
       <div class="u-authenticated"> 
        <h3 style="text-align: center;">COOKING CLASS</h3> 
        <h1 style="text-align: center;">Frequently Asked Questions</h1> 
        <p style="text-align: center;"><i>Due to COVID 19 our cooking classes are on currrnetly on hold. We hope to reopen in the future. Please follow us on facebook for the latest updates!</i></p> 
        <h1>&nbsp;</h1> 
       </div> 
       <div class="u-unauthenticated"> 
        <h3 style="text-align: center;">COOKING CLASS</h3> 
        <h1 style="text-align: center;">Frequently Asked Questions</h1> 
        <h1>&nbsp;</h1> 
       </div> 
      </div> 
      <div class="text-extended-auth-unauth section"> 
       <div class="u-authenticated"> 
        <div *ngFor="let faq of faqs">
        <h4><b>{{faq.question}}</b></h4> 
        <p>{{faq.answer}}</p> 
           </div> 
           </div>

       <div class="u-unauthenticated"> 
        <div *ngFor="let faq of faqs">
            <h4><b>{{faq.question}}</b></h4> 
            <p>{{faq.answer}}</p> 
          </div> 
          </div>
      </div> 
     </div> 
    </div> 
   </div>