<div class="background-container parbase"> 
    <div class="custom-bgcolor xxsmall-container " style="background-color:section;padding-top:50px;padding-bottom:50px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="text-extended-auth-unauth section"> 
       <div class="u-authenticated"> 
        <h4 style="text-align: center;">ABOUT</h4> 
        <h1 style="text-align: center;">What we do</h1> 
       </div> 
       <!-- <div class="u-unauthenticated"> 
        <h4 style="text-align: center;">ABOUT</h4> 
        <h1 style="text-align: center;">What we do</h1> 
        <h1 style="text-align: center;">&nbsp;</h1> 
       </div>  -->
      </div> 
      <div class="background-container parbase section"> 
       <div class="custom-bgcolor  " style="background-color:transparent;padding-top:50px;padding-bottom:0px;padding-left:50px;padding-right:50px;"> 
        <div class="par parsys"> 
         <div class="bootstrapcolCtrlAdvanced section"> 
          <div class="row   item-middle content-middle" id="column-1150"> 
           <div class=" col-lg- col-md-7 col-sm-7 col-xs-12 col-12 no-margin"> 
            <div class="columns1 parsys"> 
             <div class="iframe section"> 
              <style>
    .iframe-container{ height: 400px;width:100% }
@media screen and (max-width: 479px){
.iframe-component {
    transform:none;
    -webkit-transform:none;
    }

    }
@media screen and (max-width: 768px){
.iframe-component {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
}
</style> 
              <div class="inner-container iframe-loadercontainer"> 
               <div class="wow-loader-container"> 
                <div class="wow-loader"></div> 
               </div> 
               <iframe id="iframe-1431" class="iframe-component iframe-container" src="https://www.youtube.com/embed/klQ0ZI5TTRU" frameborder="0" scrolling="yes"></iframe> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div class=" col-lg- col-md-5 col-sm-5 col-xs-12 col-12 no-margin"> 
            <div class="columns2 parsys"> 
             <div class="text-extended parbase section"> 
              <div class="xsmall-container h_100" style="padding-top: 50px; padding-bottom: 70px; height: 350px;"> 
               <h3 style="text-align: center;">&nbsp;</h3> 
               <h3 style="text-align: center;">&nbsp;</h3> 
               <h3 style="text-align: center;">VIDEO</h3> 
               <h2 style="text-align: center;">Let Us Show You</h2> 
               <h2 style="text-align: center;"><a adhocenable="false" href="https://www.youtube.com/channel/UCBDNKcN9E3rV5KoC0_yEEXQ" target="_blank" style="font-size: 12px;">See More On Youtube</a></h2> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div style="clear:both"></div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>
