




    <!-- top navigation html -->

    <div class="background-container parbase"> 
        <div class="custom-bgcolor xxsmall-container " style="background-color:transparent;padding-top:100px;padding-bottom:--px;padding-left:--px;padding-right:--px;"> 
         <div class="par parsys"> 
          <div class="bread-crumb section"> 
           <div class="breadcrumbs"> 
            <a class="breadcrumbs__node" href="/foodInnovators">Food Innovators | Home&nbsp;</a> 
            <svg class="breadcrumbs__chevron"> 
               <use xlink:href="../../../assets/images/icons-sprite.svg#arrow-right"></use> 
               <!-- <img class="breadcrumbs__chevron" src="../../../assets/images/icons-sprite.png"> -->
               
  
              </svg> 
            <strong class="breadcrumb__page">&nbsp;Cooking School</strong> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div>
     <!-- top navigation html -->


<div class="background-container parbase"> 
    <div class="custom-bgcolor xxsmall-container " style="background-color:section;padding-top:50px;padding-bottom:50px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="text-extended-auth-unauth section"> 
       <!-- <div class="u-authenticated"> 
        <h4 style="text-align: center;">ABOUT</h4> 
        <h1 style="text-align: center;">Cooking School</h1> 
        <h1 style="text-align: center;">&nbsp;</h1> 
       </div>  -->
       <div class="u-unauthenticated"> 
        <h4 style="text-align: center;">ABOUT</h4> 
        <h1 style="text-align: center;">Cooking School</h1> 
        <h1 style="text-align: center;">&nbsp;</h1> 
       </div> 
      </div> 
      <div class="textImage section"> 
       <!--Authenticated --> 
       <!-- <div class="u-authenticated"> 
        <div class="ID-1785 "> 
         <div class="row  flex-row mob-flex-column-reverse"> 
          <div class="col-12 col-xs-12 col-sm-4 col-md-4"> 
           <div class="text-left xsmall-container black-link pad-top-50 pad-bottom-50 wrap-text " style=" background-color: #FFFFFF"> 
            <h2>Cooking Classes</h2> 
            <p><i>Due to COVID 19 our cooking classes are on currrnetly on hold. We hope to reopen in the future. Please follow us on facebook for the latest updates!</i></p> 
            <p>Join us in our state of the art cooking school for a fun, informative &amp; totally inspiring cooking class - enjoy a glass of wine while you watch out talented team of innovation chef’s demonstrating the recipes in our food theatre before getting hands on with the cooking yourself in our multi station cooking school, then sit down afterwards to enjoy the fruits of your labour with your new friends!</p> 
            <style>
                  .ID-1785 .btn.color-FFFFFF{
                  background-color: #FFFFFF;
                  color: white;
                  }
                  .ID-1785 .btn.color-FFFFFF:hover {
                  background-color: #FFFFFF;
                  color: white;
                  }
               </style> 
            <a target="_self" href="/content/innovators-food/en/home/cooking-school/cooking-classes.html" class="btn btn-lg btn-white color-FFFFFF">See Our Cooking Classes</a> 
           </div> 
           <div class="text-left xsmall-container black-link pad-top-50 pad-bottom-50 wrap-text margin-top-20" style=" background-color: #FFFFFF"> 
            <h2>Team Building</h2> 
            <p>Book our state of the art cooking school&nbsp; &amp; food theatre for a high energy, educational &amp; totally uplifting team building challenge! Team building sessions are designed &amp; tailored to your specific needs &amp; outcomes and we have a number of options from like mystery box challenges to food innovation sprints or “The Amazing Food Race”. Chat to our team today to start the conversation on Sydney’s most inspiring team building sessions!</p> 
            <style>
                  .ID-1785 .btn.color-FFFFFF{
                  background-color: #FFFFFF;
                  color: white;
                  }
                  .ID-1785 .btn.color-FFFFFF:hover {
                  background-color: #FFFFFF;
                  color: white;
                  }
               </style> 
            <a target="_blank" href="mailto:foodinnovators@woolworths.com.au/?subject=Team%20Building%20Session%20Booking" class="btn btn-lg btn-white color-FFFFFF">Book a Team Building Session</a> 
           </div> 
          </div> 
          <div class="col-12 col-xs-12 col-sm-8 col-md-8"> 
           <img class="card__image img-fluid img-responsive " alt="team building &amp; Cooking classes" src="../../../assets/images/2cschoolarchiShot_016418.png"> 
          </div> 
         </div> 
        </div> 
       </div>  -->
       <!--Un Authenticated --> 
       <div class="u-unauthenticated"> 
        <div class="ID-1823 "> 
         <div class="row  flex-row mob-flex-column-reverse"> 
          <div class="col-12 col-xs-12 col-sm-5 col-md-5"> 
           <div class="text-left xsmall-container black-link pad-top-50 pad-bottom-50 wrap-text " style=" background-color: #FFFFFF"> 
            <h2>Cooking Classes</h2> 
            <p><i>Due to COVID 19 our cooking classes are on currrnetly on hold. We hope to reopen in the near future. Please follow us on facebook for the latest updates!</i></p> 
            <p>Join us in our state of the art cooking school for a fun, informative &amp; totally inspiring cooking class - enjoy a glass of wine while you watch out talented team of innovation chef’s demonstrating the recipes in our food theatre before getting hands on with the cooking yourself in our multi station cooking school, then sit down afterwards to enjoy the fruits of your labour with your new friends!</p> 
            <style>
                  .ID-1823 .btn.color-FFFFFF{
                  background-color: #FFFFFF;
                  color: white;
                  }
                  .ID-1823 .btn.color-FFFFFF:hover {
                  background-color: #FFFFFF;
                  color: white;
                  }
               </style> 
            <a target="_self" href="/content/food-innovators/en/home/cooking-classes/cooking-classes.html" class="btn btn-lg btn-white color-FFFFFF">See Our Cooking Classes</a> 
           </div> 
           <div class="text-left xsmall-container black-link pad-top-50 pad-bottom-50 wrap-text margin-top-20" style=" background-color: #FFFFFF"> 
            <h2>Team Building</h2> 
            <p>Book our state of the art cooking school&nbsp; &amp; food theatre for a high energy, educational &amp; totally uplifting team building challenge! Team building sessions are designed &amp; tailored to your specific needs &amp; outcomes and we have a number of options from like mystery box challenges to food innovation sprints or “The Amazing Food Race”. Chat to our team today to start the conversation on Sydney’s most inspiring team building sessions!</p> 
            <style>
                  .ID-1823 .btn.color-FFFFFF{
                  background-color: #FFFFFF;
                  color: white;
                  }
                  .ID-1823 .btn.color-FFFFFF:hover {
                  background-color: #FFFFFF;
                  color: white;
                  }
               </style> 
            <a target="_blank" href="mailto:foodinnovators@woolworths.com.au/?subject=Team%20Building%20Session%20Booking" class="btn btn-lg btn-white color-FFFFFF">Book a Team Building Session</a> 
           </div> 
          </div> 
          <div class="col-12 col-xs-12 col-sm-7 col-md-7"> 
           <img class="card__image img-fluid img-responsive " alt="cooking school" src="../../../assets/images/2cschoolarchiShot_016418.png"> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>







<app-cooking-session-video></app-cooking-session-video>
<!-- <app-cooking-classes></app-cooking-classes> -->
<app-more-cooking-classes></app-more-cooking-classes>
