



    <!-- top navigation html -->

    <div class="background-container parbase"> 
        <div class="custom-bgcolor xxsmall-container " style="background-color:transparent;padding-top:100px;padding-bottom:--px;padding-left:--px;padding-right:--px;"> 
         <div class="par parsys"> 
          <div class="bread-crumb section"> 
           <div class="breadcrumbs"> 
            <a class="breadcrumbs__node" href="/cookingSchool">Cooking School&nbsp;</a> 
            <svg class="breadcrumbs__chevron"> 
                <use xlink:href="../../../assets/images/icons-sprite.svg#arrow-right"></use> 
                <!-- <img class="breadcrumbs__chevron" src="../../../assets/images/icons-sprite.png"> -->
                
   
               </svg> 
            <strong class="breadcrumb__page">&nbsp;Cooking Classes</strong> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div>
     <!-- top navigation html -->


     
<div class="background-container parbase">
    <div class="custom-bgcolor xxsmall-container eq-height " style="background-color:transparent;padding-top:100px;padding-bottom:0px;padding-left:--px;padding-right:--px;">
        <div class="par parsys">
            <div class="text-extended-auth-unauth section">
                <div class="u-authenticated">
                    <h3 style="text-align: center;">&nbsp;</h3>
                    <h3 style="text-align: center;">COOKING SCHOOL</h3>
                    <h1 style="text-align: center;">Cooking Classes</h1>
                    <h1>&nbsp;</h1>
                </div>
                <div class="u-unauthenticated">
                    <h3>&nbsp;</h3>
                    <h3 style="text-align: center;">COOKING SCHOOL</h3>
                    <h1 style="text-align: center;">Cooking Classes</h1>
                    <h1>&nbsp;</h1>
                </div>
            </div>
            <div class="bootstrapcolCtrlAdvanced section">
                <div class="row    " id="column-1603">
                    <div class=" col-lg- col-md-2 col-sm-2 col-xs-12 col-12 no-">
                        <div class="columns1 parsys"></div>
                    </div>
                    <div class=" col-lg- col-md-8 col-sm-8 col-xs-12 col-12 no-">
                        <div class="columns2 parsys">
                            <div class="text-extended-auth-unauth section">
                                <div class="u-authenticated">
                                    <h4 style="text-align: center;">
                                        <i>Due to COVID 19 our cooking classes are on currently on hold. We hope to reopen in the future. Please follow us on facebook for the latest updates!</i>
                                    </h4>
                                    <h4 style="text-align: center;">Join us in our state of the art cooking school for a fun, informative &amp; totally inspiring cooking class - enjoy a glass of wine while you watch out talented team of innovation chef’s demonstrating the recipes in our food theatre before getting hands on with the cooking yourself in our multi station cooking school, then sit down afterwards to enjoy the fruits of your labour with your new friends!</h4>
                                    <h4 style="text-align: center;">&nbsp;</h4>
                                    <h3 style="text-align: center;">Check Out Some of Our Past Classes Below</h3>
                                    <h4 style="text-align: center;">&nbsp;</h4>
                                </div>
                                <div class="u-unauthenticated">
                                    <h4 style="text-align: center;">
                                        <i>Due to COVID 19 our cooking classes are on currently on hold. We hope to reopen in the future. Please follow us on facebook for the latest updates!</i>
                                    </h4>
                                    <h4 style="text-align: center;">Join us in our state of the art cooking school for a fun, informative &amp; totally inspiring cooking class - enjoy a glass of wine while you watch out talented team of innovation chef’s demonstrating the recipes in our food theatre before getting hands on with the cooking yourself in our multi station cooking school, then sit down afterwards to enjoy the fruits of your labour with your new friends!</h4>
                                    <h4 style="text-align: center;">&nbsp;</h4>
                                    <h3 style="text-align: center;">Check Out Some of Our Past Classes Below</h3>
                                    <h4>&nbsp;</h4>
                                </div>
                            </div>
                            <div class="page-list-component articleWidget section">
                                <div>
                                    <div>
                                        <div class="">

                                            <button class="prevButton slick-prev" (click)="prev()">
                                                L
                                            </button>
                                            <button class="nextButton slick-next" (click)="prev()">
                                                R
                                            </button>
                                        <div class="  container card__container  draggable" style="padding: 0px;">
                                            
                                                <swiper-container slides-per-view="3" space-between="0" navigation="true" loop="true" navigation-prev-el=".prevButton" navigation-next-el=".nextButton"  centerMode = "true">
                                                    <swiper-slide class=" eq-height box-container"  *ngFor="let cardItem of Cardetails">
                                                        <!-- <div class="cardContainer">
                                                            <div class="cardImage">
                                            
                                                            </div>
                                                            <div class="cardBody">
                                                                <h3>
                                                                    {{card.title}}
                                                                </h3>
                                                                <p>
                                                                    {{card.description}}
                                                                </p>
                                                            </div>
                                                        </div> -->
                                            
                                                    <div class="card"> 
                                                        <div class="card__image__wrapper"> 
                                                            <a href=" -12.html" > <img src={{cardItem.image}}  alt={{cardItem.Head}} class="card__image__wrapper-top img img-fluid"> </a> 
                                                           </div> 
                                                           <div class="card__content" > 
                                                            <div class="card__title"> 
                                                             <a href=" -12.html" > <h5>{{cardItem.Head}}</h5> </a> 
                                                            </div> 
                                                            <div class="card__description flexible"> 
                                                             <p> {{cardItem.description}} </p> 
                                                            </div> 
                                                            <div class="card__bottom"> 
                                                             <a href=" -12.html" class="btn btn-lg btn-success">Click here for info</a> 
                                                            </div> 
                                                           </div> 
                                                          </div>
                                            
                                            
                                                      
                                            
                                                    </swiper-slide>
                                                </swiper-container>
                                          
                                                    </div>
                                            
                                       


                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg- col-md-2 col-sm-2 col-xs-12 col-12 no-">
                        <div class="columns3 parsys"></div>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="background-container parbase section">
                <div class="custom-bgcolor xsmall-container image-banner-overlay " style="background-color:transparent;padding-top:50px;padding-bottom:50px;padding-left:--px;padding-right:--px;">
                    <div class="par parsys"></div>
                </div>
            </div>
            <div class="background-container parbase section">
                <div class="custom-bgcolor xsmall-container image-banner-overlay " style="background-color:transparent;padding-top:50px;padding-bottom:50px;padding-left:--px;padding-right:--px;">
                    <div class="par parsys"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-cooking-school-slides></app-cooking-school-slides>
