








<div class="background-container parbase"> 
    <div class="custom-bgcolor xxsmall-container mb-4 " style="background-color:section;padding-top:50px;padding-bottom:50px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="textImage section"> 
       <!--Authenticated --> 
       <!-- <div class="u-authenticated"> 
        <div class="ID-1785 "> 
         <div class="row  flex-row mob-flex-column-reverse"> 
          <div class="col-12 col-xs-12 col-sm-4 col-md-4"> 
           <div class="text-left xsmall-container black-link pad-top-50 pad-bottom-50 wrap-text " style=" background-color: #FFFFFF"> 
            <h2>Team Building</h2> 
            <p>Book our state of the art cooking school&nbsp; &amp; food theatre for a high energy, educational &amp; totally uplifting team building challenge! Team building sessions are designed &amp; tailored to your specific needs &amp; outcomes and we have a number of options from like mystery box challenges to food innovation sprints or “The Amazing Food Race”. Chat to our team today to start the conversation on Sydney’s most inspiring team building sessions!</p> 
            <style>
                  .ID-1785 .btn.color-FFFFFF{
                  background-color: #FFFFFF;
                  color: white;
                  }
                  .ID-1785 .btn.color-FFFFFF:hover {
                  background-color: #FFFFFF;
                  color: white;
                  }
               </style> 
            <a target="_blank" href="mailto:foodinnovators@woolworths.com.au?subject=Team%20Building%20Session%20Booking" class="btn btn-lg btn-white color-FFFFFF">Book a Team Building Session</a> 
           </div> 
           <div class="text-left xsmall-container black-link pad-top-50 pad-bottom-50 wrap-text margin-top-20" style=" background-color: #FFFFFF"> 
            <h2>Cooking School</h2> 
            <p>Join us in our state of the art cooking school for a fun, informative &amp; totally inspiring cooking class - enjoy a glass of wine while you watch out talented team of innovation chef’s demonstrating the recipes in our food theatre before getting hands on with the cooking yourself in our multi station cooking school, then sit down afterwards to enjoy the fruits of your labour with your new friends!</p> 
            <style>
                  .ID-1785 .btn.color-FFFFFF{
                  background-color: #FFFFFF;
                  color: white;
                  }
                  .ID-1785 .btn.color-FFFFFF:hover {
                  background-color: #FFFFFF;
                  color: white;
                  }
               </style> 
            <a target="_self" href="/content/innovators-food/en/home/cooking-school.html" class="btn btn-lg btn-white color-FFFFFF">Learn More About our Cooking School</a> 
           </div> 
          </div> 
          <div class="col-12 col-xs-12 col-sm-8 col-md-8"> 
           <img class="card__image img-fluid img-responsive " alt="team building &amp; Cooking classes" src="../../../assets/images/resizewhat-we-do-1.png"> 
          </div> 
         </div> 
        </div> 
       </div>  -->
       <!--Un Authenticated --> 
       <div class="u-unauthenticated"> 
        <div class="ID-1823 "> 
         <div class="row  flex-row mob-flex-column-reverse"> 
          <div class="col-12 col-xs-12 col-sm-5 col-md-5"> 
           <div class="text-left xsmall-container black-link pad-top-50 pad-bottom-50 wrap-text " style=" background-color: #FFFFFF"> 
            <h2>Team Building</h2> 
            <p>Book our state of the art cooking school&nbsp; &amp; food theatre for a high energy, educational &amp; totally uplifting team building challenge! Team building sessions are designed &amp; tailored to your specific needs &amp; outcomes and we have a number of options from like mystery box challenges to food innovation sprints or “The Amazing Food Race”. Chat to our team today to start the conversation on Sydney’s most inspiring team building sessions!</p> 
         
            <a target="_self" href="mailto:foodinnovators@woolworths.com.au?subject=Team%20Building%20Session%20Booking" class="btn btn-lg btn-white color-FFFFFF">Book a Team Building Session</a> 
           </div> 
           <div class="text-left xsmall-container black-link pad-top-50 pad-bottom-50 wrap-text margin-top-20" style=" background-color: #FFFFFF"> 
            <h2>Cooking School</h2> 
            <p>Join us in our state of the art cooking school for a fun, informative &amp; totally inspiring cooking class - enjoy a glass of wine while you watch out talented team of innovation chef’s demonstrating the recipes in our food theatre before getting hands on with the cooking yourself in our multi station cooking school, then sit down afterwards to enjoy the fruits of your labour with your new friends!</p> 
            <style>
                 
               </style> 
            <a target="_self" href="/content/innovators-food/en/home/cooking-school.html" class="btn btn-lg btn-white color-FFFFFF">Learn More About our Cooking School</a> 
           </div> 
          </div> 
          <div class="col-12 col-xs-12 col-sm-7 col-md-7"> 
           <img class="card__image img-fluid img-responsive " alt="what we do" src="../../../assets/images/resizewhat-we-do-1.png"> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>





   <div class="background-container parbase"> 
    <div class="custom-bgcolor xxsmall-container mb-4 " style="background-color:section;padding-top:50px;padding-bottom:50px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="textImage section"> 
       <!--Authenticated --> 
       <!-- <div class="u-authenticated"> 
        <div class="ID-1628 "> 
         <div class="row no-gutters flex-row-reverse mob-flex-column-reverse"> 
          <div class="col-12 col-xs-12 col-sm-4 col-md-4"> 
           <div class="text-left xsmall-container pad-bottom-50 pad-top-50 black-link wrap-text " style=" background-color: #FFFFFF"> 
            <h2>The Innovation Chef Intern Program</h2> 
            <p>In 2016 we launched our Innovation Chef Intern Program - the first program of it’s kind in Australia - giving young chefs &amp; cooks the opportunity to learn hands on what it means to take a product from ideation to launch in food retail!</p> 
            <p>&nbsp;</p> 
            <p>Click below to apply for our next intake and be part of this exciting program</p> 
            <p>&nbsp;</p> 
            <style>
                  .ID-1628 .btn.color-FFFFFF{
                  background-color: #FFFFFF;
                  color: white;
                  }
                  .ID-1628 .btn.color-FFFFFF:hover {
                  background-color: #FFFFFF;
                  color: white;
                  }
               </style> 
            <a target="_blank" href="mailto:foodinnovators@woolworths.com.au?subject=Innovation%20Chef%20Intern%20Program%20Enquiry" class="btn btn-lg btn-white color-FFFFFF">Apply for our next Innovation Chef Intern Intake</a> 
           </div> 
          </div> 
          <div class="col-12 col-xs-12 col-sm-8 col-md-8"> 
           <img class="card__image img-fluid img-responsive " alt="interns" src="../../../assets/images/styles.png"> 
           <p>Emma Dimento, Zachary Baudinet, Flinders Wong.</p> 
          </div> 
         </div> 
        </div> 
       </div>  -->
       <!--Un Authenticated --> 
       <div class="u-unauthenticated"> 
        <div class="ID-1666 "> 
         <div class="row no-gutters flex-row-reverse mob-flex-column-reverse"> 
          <div class="col-12 col-xs-12 col-sm-4 col-md-4"> 
           <div class="text-left xsmall-container pad-bottom-50 pad-top-50 black-link wrap-text " style=" background-color: #FFFFFF"> 
            <h2>The Innovation Chef Intern Program</h2> 
            <p>Food Innovators launched Australia’s first Innovation Chef Intern Program in 2016.</p> 
            <p>The Innovation Chef Intern Program gives young Chef’s &amp; Foodies the opportunity to work along side our Innovation Chef Team for 2 years learning the nuts and bolts of what it means to develop new food products for retail. Click here to apply for our next intake!</p> 
            <style>
                  .ID-1666 .btn.color-FFFFFF{
                  background-color: #FFFFFF;
                  color: white;
                  }
                  .ID-1666 .btn.color-FFFFFF:hover {
                  background-color: #FFFFFF;
                  color: white;
                  }
               </style> 
            <a target="_blank" href="mailto:foodinnovators@woolworths.com.au?subject=Innovation%20Chef%20Intern%20Program%20Enquiry" class="btn btn-lg btn-white color-FFFFFF">Apply for our next Innovation Chef Intern Intake</a> 
           </div> 
          </div> 
          <div class="col-12 col-xs-12 col-sm-8 col-md-8"> 
           <img class="card__image img-fluid img-responsive " alt="innovation chef intern program" src="../../../assets/images/styles.png"> 
           <p>Zachary Baudinet, Flinders Wong, Emma Dimento</p> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>





   <div class="background-container parbase"> 
    <div class="custom-bgcolor xxsmall-container mb-40 u-unauthenticated " style="background-color:transparent;padding-top:50px;padding-bottom:0px;padding-left:--px;padding-right:--px;"> 
     <div class="par parsys"> 
      <div class="textImage section"> 
       <!--Authenticated --> 
       <!-- <div class="u-authenticated"> 
        <div class="ID-1628 "> 
         <div class="row  flex-row mob-flex-column-reverse"> 
          <div class="col-12 col-xs-12 col-sm-4 col-md-4"> 
           <div class="text-left xsmall-container pad-bottom-50 pad-top-50 black-link wrap-text margin-top-20-percent " style=" background-color: #FFFFFF"> 
            <h2>Our Kitchens</h2> 
            <p>Get in contact with us to book in one of our state of the art Kitchens for your next Supplier Demonstration</p> 
            <style>
                  .ID-1628 .btn.color-FFFFFF{
                  background-color: #FFFFFF;
                  color: white;
                  }
                  .ID-1628 .btn.color-FFFFFF:hover {
                  background-color: #FFFFFF;
                  color: white;
                  }
               </style> 
            <a target="_blank" href="mailto:foodinnovators@woolworths.com.au?subject=Supplier%20Demonstration%20Enquiry" class="btn btn-lg btn-white color-FFFFFF">Ask Us About Booking Our Kitchens</a> 
           </div> 
          </div> 
          <div class="col-12 col-xs-12 col-sm-8 col-md-8"> 
           <img class="card__image img-fluid img-responsive " alt="kitchens" src="../../../assets/images/kitchens-collage2.png"> 
          </div> 
         </div> 
        </div> 
       </div>  -->
       <!--Un Authenticated --> 
       <div class="u-unauthenticated"> 
        <div class="ID-1666 "> 
         <div class="row  flex-row mob-flex-column-reverse"> 
          <div class="col-12 col-xs-12 col-sm-4 col-md-4"> 
           <div class="text-left xsmall-container pad-bottom-50 pad-top-50 black-link wrap-text margin-top-20-percent " style=" background-color: #FFFFFF"> 
            <h2>Our Kitchens</h2> 
            <p>Get in contact with us to book in one of our state of the art Kitchens for your next Supplier Demonstration</p> 
            <style>
                  .ID-1666 .btn.color-FFFFFF{
                  background-color: #FFFFFF;
                  color: white;
                  }
                  .ID-1666 .btn.color-FFFFFF:hover {
                  background-color: #FFFFFF;
                  color: white;
                  }
               </style> 
            <a target="_blank" href="mailto:foodinnovators@woolworths.com.au?subject=Supplier%20Demonstration%20Enquiry" class="btn btn-lg btn-white color-FFFFFF">Ask Us About Booking Our Kitchens</a> 
           </div> 
          </div> 
          <div class="col-12 col-xs-12 col-sm-8 col-md-8"> 
           <img class="card__image img-fluid img-responsive " alt="kitchens" src="../../../assets/images/kitchens-collage2.png"> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>








   <!-- authenticated view -->
<div style="display:none;">





   <div class="background-container parbase"> 
      <div class="custom-bgcolor xxsmall-container image-banner-overlay left u-authenticated " style="background-color:transparent;padding-top:50px;padding-bottom:50px;padding-left:--px;padding-right:--px;"> 
       <div class="par parsys"> 
        <div class="textImage section"> 
         <!--Authenticated --> 
         <div class="u-authenticated"> 
          <div class="ID-1561 "> 
           <div class="image-banner-overlay left"> 
            <div class="image"> 
             <img class="img-fluid img-responsive " alt="process and team" src="../../../assets/images/collage-inspiration.png"> 
             <div class="text-image-overlay"> 
              <div class="text-center xsmall-container pad-bottom-50 pad-top-50 black-link wrap-text margin-bottom-20 pad-bottom-50 pad-top-50 black-link wrap-text margin-bottom-20 " style=" background-color: #FFFFFF"> 
               <h2>Kitchen Inspiration Sessions&nbsp;</h2> 
               <p>Our groundbreaking Kitchen Inspiration Sessions are unlocking future food opportunities across the business! These dynamic, highly engaging &amp; interactive sessions comprise of two parts: 45 minutes of food trends, insights &amp; global benchmarking followed by 45 minutes of product prototyping &amp; tasting. Click here to find out more or to book in your Kitchen Inspiration Session today!</p> 
               <style>
                                   .ID-1561 .btn.color-FFFFFF{
                                   background-color: #FFFFFF;
                                   color: white;
                                   }
                                   .ID-1561 .btn.color-FFFFFF:hover {
                                   background-color: #FFFFFF;
                                   color: white;
                                   }
                                </style> 
               <a target="_self" href="/content/innovators-food/en/home/what-we-do/kitchen-inspiration-sessions.html" class="btn btn-lg btn-white color-FFFFFF">Book a Kitchen Inspiration Session</a> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <!--Un Authenticated --> 
         <div class="u-unauthenticated"> 
          <div class="ID-1599 "> 
           <div class="image-banner-overlay left"> 
            <div class="image"> 
             <img class="img-fluid img-responsive " alt="process and team" src="../../../assets/images/collage-inspiration.png"> 
             <div class="text-image-overlay"> 
              <div class="text-center xsmall-container pad-bottom-50 pad-top-50 black-link wrap-text margin-bottom-20 pad-bottom-50 pad-top-50 black-link wrap-text margin-bottom-20 " style=" background-color: #FFFFFF"> 
               <h2>Kitchen Inspiration Sessions&nbsp;</h2> 
               <p>Our groundbreaking Kitchen Inspiration Sessions are unlocking future food opportunities across the business! These dynamic, highly engaging &amp; interactive sessions comprise of two parts: 45 minutes of food trends, insights &amp; global benchmarking followed by 45 minutes of product prototyping &amp; tasting. Click here to find out more or to book in your Kitchen Inspiration Session today!</p> 
               <style>
                                   .ID-1599 .btn.color-FFFFFF{
                                   background-color: #FFFFFF;
                                   color: white;
                                   }
                                   .ID-1599 .btn.color-FFFFFF:hover {
                                   background-color: #FFFFFF;
                                   color: white;
                                   }
                                </style> 
               <a target="_self" href="/content/innovators-food/en/home/what-we-do/kitchen-inspiration-sessions.html" class="btn btn-lg btn-white color-FFFFFF">Book a Kitchen Inspiration Session</a> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div>







     <div class="background-container parbase"> 
      <div class="custom-bgcolor xsmall-container u-authenticated " style="background-color:transparent;padding-top:50px;padding-bottom:50px;padding-left:--px;padding-right:--px;"> 
       <div class="par parsys"> 
        <div class="text-extended-auth-unauth section"> 
         <div class="u-authenticated"> 
          <h2 style="text-align: center;">Book a session with us</h2> 
          <h3>&nbsp;</h3> 
         </div> 
         <div class="u-unauthenticated"> 
          <h2 style="text-align: center;">Book a session with us</h2> 
          <h3>&nbsp;</h3> 
         </div> 
        </div> 
        <div class="bootstrapcolCtrlAdvanced section"> 
         <div class="col-row    " id="column-1603"> 
          <div class=" col-lg- col-md-5 col-sm-5 col-xs-12 col-12 no-margin"> 
           <div class="columns1 parsys"> 
            <div class="textimage-extended textimage parbase section"> 
             <div style="float:none" class="image text-center none" id="cq-textimage-jsp-/content/innovators-food/en/home/what-we-do/jcr:content/mainParsys/background_container_1234/par/bootstrapcolctrladva/columns1/textimage_extended"> 
              <a href="mailto:foodinnovators@woolworths.com.au?subject=Kitchen%20Inspiration%20Session%20Booking"><img src="../../../assets/images/1576589666634.png" alt="meet the team" title="MEET THE TEAM" class="cq-dd-image none"></a> 
              <br> 
             </div> 
             
             <div class="text text-body overlay cq-dd-image"> 
              <h4 style="text-align: center;"><a adhocenable="false" href="mailto:foodinnovators@woolworths.com.au?subject=Kitchen Inspiration Session Booking" target="_blank">Book a Kitchen Inspiration Session</a></h4> 
             </div> 
             <div class="clear"></div> 
            </div> 
           </div> 
          </div> 
          <div class=" col-lg- col-md-2 col-sm-2 col-xs-12 col-12 no-margin"> 
           <div class="columns2 parsys"> 
           </div> 
          </div> 
          <div class=" col-lg- col-md-5 col-sm-5 col-xs-12 col-12 no-margin"> 
           <div class="columns3 parsys"> 
            <div class="textimage-extended textimage parbase section"> 
             <div style="float:none" class="image text-center none" id="cq-textimage-jsp-/content/innovators-food/en/home/what-we-do/jcr:content/mainParsys/background_container_1234/par/bootstrapcolctrladva/columns3/textimage_extended"> 
              <a href="mailto:foodinnovators@woolworths.com.au?subject=Kitchen%20Inspiration%20Session%20Booking" >
               <img src="../../../assets/images/1624579924637.jpeg" alt="trendimage2" title="trendimage2" class="cq-dd-image none"></a> 
              <br> 
             </div> 
             
             <div class="text text-body overlay cq-dd-image"> 
              <h4 style="text-align: center;"><a adhocenable="false" target="_blank">Book a Trend Session</a></h4> 
             </div> 
             <div class="clear"></div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div style="clear:both"></div> 
        </div> 
       </div> 
      </div> 
     </div>

     </div>